USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_TRANSFERENCIA]    Script Date: 09/05/2025 03:50:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
    Elaboró:  PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 09/05/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UNA TRANSFERENCIA
    Desarrolló:  JAIRO MARTINEZ LOPEZ
--  PA_UPD_TRANSFERENCIAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_TRANSFERENCIA] (
    @IdGeneral INT,
	@idTransferencia INT,
    @Folio NVARCHAR(50),
    @FechaRegistro DATETIME,
    @Observaciones NVARCHAR(MAX),
    @Responsable NVARCHAR(100),
    @Activo BIT,
    @idAreaOrigen INT,
    @idAreaDestino INT,
    @idGeneralAsignado INT,
    @IdPantalla INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de Transferencia existe
    IF NOT EXISTS (SELECT 1 FROM dbo.TRANSFERENCIAS WHERE idTransferencia = @idTransferencia)
    BEGIN
        RAISERROR('El ID de Transferencia especificado no existe.', 16, 1);
        RETURN;
    END

	IF EXISTS (SELECT 1 FROM dbo.TRANSFERENCIAS WHERE idTransferencia = @idTransferencia AND Activo=0)
    BEGIN
        RAISERROR('La transferencia esta desactivada.', 16, 1);
        RETURN;
    END

    -- Verificar si las áreas de origen y destino existen
    IF NOT EXISTS (SELECT 1 FROM dbo.Areas WHERE idArea = @idAreaOrigen)
    BEGIN
        RAISERROR('El Área de Origen especificado no existe.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Areas WHERE idArea = @idAreaDestino)
    BEGIN
        RAISERROR('El Área de Destino especificado no existe.', 16, 1);
        RETURN;
    END

    UPDATE dbo.TRANSFERENCIAS
    SET
        Folio = @Folio,
        FechaRegistro = ISNULL(@FechaRegistro, GETDATE()),
        Observaciones = @Observaciones,
        Responsable = @Responsable,
        Activo = @Activo,
        idAreaOrigen = @idAreaOrigen,
        idAreaDestino = @idAreaDestino,
        idGeneral = @idGeneralAsignado
    WHERE
        idTransferencia = @idTransferencia;

    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.TRANSFERENCIAS SET Folio = ''' + REPLACE(@Folio, '''', '''''') + ''', FechaRegistro = ''' + CONVERT(VARCHAR(30), ISNULL(@FechaRegistro, GETDATE()), 126) + ''', Observaciones = ''' + REPLACE(@Observaciones, '''', '''''') + ''', Responsable = ''' + REPLACE(@Responsable, '''', '''''') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', idAreaOrigen = ' + CAST(@idAreaOrigen AS VARCHAR(10)) + ', idAreaDestino = ' + CAST(@idAreaDestino AS VARCHAR(10)) + ', idGeneral = ' + CAST(@idGeneralAsignado AS VARCHAR(10)) + ' WHERE idTransferencia = ' + CAST(@idTransferencia AS VARCHAR(10)) + ';';

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'TRANSFERENCIAS',
        @idTransferencia,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END;
