CREATE TYPE TipoBitacoraLote AS TABLE (
    Accion NVARCHAR(2),
    Objeto NVARCHAR(50),
    IdAfectado NVARCHAR(20),
    IdUsuario NVARCHAR(10),
    IdPantalla NVARCHAR(10),
    Consulta NVARCHAR(4000)
);
GO

ALTER PROCEDURE PA_ADM_INS_BITACORA_MASIVO (
    @Bitacoras TipoBitacoraLote READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ADM_BITACORA (
        Accion,
        Objeto,
        IdAfectado,
        IdUsuario,
        Fecha,
        IdPantalla,
        IdEstructura,
        Consulta
    )
    SELECT
        b.Accion,
        b.Objeto,
        b.IdAfectado,
        b.IdUsuario,
        GETDATE(),
        b.IdPantalla,
        CASE 
            WHEN b.Accion = 'U' THEN 
                (SELECT TOP 1 IdEstructura FROM ADM_ESTRUCTURA WHERE Tabla = b.Objeto AND Status = '1')
            ELSE NULL
        END,
        b.Consulta
    FROM @Bitacoras AS b;
END;
