USE [bdInventario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PA_CAMBIAR_PASSWORD_USUARIO]
(
    @idUsuario INT,
    @PasswordActual NVARCHAR(100),
    @NuevaPassword NVARCHAR(100),
    @IdGeneral INT,
    @IdPantalla INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- --------------------------------------------------------------------------
    -- VALIDACIONES DE PARÁMETROS DE ENTRADA
    -- --------------------------------------------------------------------------

    -- Validación para @idUsuario
    IF @idUsuario IS NULL OR @idUsuario <= 0
    BEGIN
        RAISERROR('El campo Usuario es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN; -- Termina la ejecución
    END

    -- Validación para @PasswordActual
    IF @PasswordActual IS NULL OR LTRIM(RTRIM(@PasswordActual)) = N'' -- Usar N'' para cadenas Unicode vacías
    BEGIN
        RAISERROR('El campo Contraseña Actual es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    -- Validación para @NuevaPassword
    IF @NuevaPassword IS NULL OR LTRIM(RTRIM(@NuevaPassword)) = N''
    BEGIN
        RAISERROR('El campo Nueva Contraseña es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    -- Validación: La nueva contraseña no debe ser igual a la actual
    IF @PasswordActual = @NuevaPassword
    BEGIN
        RAISERROR('La nueva contraseña no puede ser igual a la contraseña actual.', 16, 1);
        RETURN;
    END
    
    -- Validación: Longitud mínima para la nueva contraseña (ejemplo: 8 caracteres)
    DECLARE @MinPasswordLength INT = 8;
    IF LEN(@NuevaPassword) < @MinPasswordLength
    BEGIN
        RAISERROR('La nueva contraseña debe tener al menos %d caracteres.', 16, 1, @MinPasswordLength);
        RETURN;
    END

    -- Validación para @IdGeneral (asumiendo que debe ser un ID positivo si se proporciona)
    IF @IdGeneral IS NULL OR @IdGeneral <= 0 
    BEGIN
        RAISERROR('El parámetro @IdGeneral es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN;
    END

    -- Validación para @IdPantalla (asumiendo que debe ser un ID positivo si se proporciona)
    IF @IdPantalla IS NULL OR @IdPantalla <= 0
    BEGIN
        RAISERROR('El parámetro @IdPantalla es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN;
    END

    -- --------------------------------------------------------------------------
    -- LÓGICA PRINCIPAL DEL PROCEDIMIENTO
    -- --------------------------------------------------------------------------

    -- Verificar si el usuario existe
    IF NOT EXISTS (SELECT 1 FROM USUARIOS WHERE idUsuario = @idUsuario)
    BEGIN
        RAISERROR('El usuario especificado (%d) no existe.', 16, 1, @idUsuario);
        RETURN;
    END

    -- Verificar contraseña actual
    DECLARE @PasswordHashActual VARBINARY(64);
    SET @PasswordHashActual = HASHBYTES('SHA2_256', @PasswordActual); -- Directamente sobre el NVARCHAR

    IF NOT EXISTS (
        SELECT 1
        FROM USUARIOS
        WHERE idUsuario = @idUsuario AND Password = @PasswordHashActual 
    )
    BEGIN
        RAISERROR('La contraseña actual proporcionada es incorrecta para el usuario %d.', 16, 1, @idUsuario);
        RETURN;
    END

    -- Cifrar nueva contraseña
    DECLARE @NuevoPasswordHash VARBINARY(64); -- Mantener consistencia con el tipo de dato del hash actual
    SET @NuevoPasswordHash = HASHBYTES('SHA2_256', @NuevaPassword);

    -- Actualizar la contraseña del usuario
    UPDATE USUARIOS
    SET Password = @NuevoPasswordHash
    WHERE idUsuario = @idUsuario;

    -- --------------------------------------------------------------------------
    -- REGISTRO EN BITÁCORA
    -- --------------------------------------------------------------------------
    DECLARE @Consulta NVARCHAR(MAX) = '';
	SET @Consulta = 'UPDATE USUARIOS SET Password = 0x' + CONVERT(VARCHAR(MAX), @NuevoPasswordHash, 2) +
                ' WHERE idUsuario = ' + CAST(@idUsuario AS NVARCHAR);

    EXEC PA_ADM_INS_BITACORA
        'U',
        'USUARIOS',
        @idUsuario,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END