USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_DEL_REGIONES]    Script Date: 07/05/2025 01:22:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 07/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA REALIZAR UN BORRADO LÓGICO DE UNA REGIÓN
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_DEL_REGIONES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_DEL_REGIONES] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idRegion INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de la región existe
    IF NOT EXISTS (SELECT 1 FROM dbo.REGIONES WHERE idRegion = @idRegion)
    BEGIN
        RAISERROR('El ID de la región especificada no existe.', 16, 1);
        RETURN;
    END

	IF EXISTS (SELECT 1 FROM dbo.REGIONES WHERE idRegion = @idRegion AND Activo=0)
    BEGIN
        RAISERROR('La región ya está inactiva.', 16, 1);
        RETURN;
    END
    -- Realizar el borrado lógico (marcar como inactivo)
    UPDATE dbo.REGIONES
    SET
        Activo = 0
    WHERE
        idRegion = @idRegion;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.REGIONES SET Activo = 0 WHERE idRegion = '+CONVERT(NVARCHAR(50),ISNULL(@idRegion,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'D', -- O 'L' si prefieres un tipo específico para lógico
        'REGIONES',
        @idRegion,
        @IdGeneralLogueado,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
