USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_DEL_EVENTOSINVENTARIO]    Script Date: 20/05/2025 08:25:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 20/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA REALIZAR UN BORRADO LÓGICO DE UN EVENTO DE INVENTARIO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_DEL_EVENTOSINVENTARIO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_DEL_EVENTOSINVENTARIO] (
    @IdPantalla INT,
    @IdGeneralLogueado INT,
    @idEventoInventario BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del evento de inventario existe
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario)
    BEGIN
        RAISERROR('El ID del evento de inventario especificado no existe.', 16, 1);
        RETURN;
    END

    -- Realizar el borrado lógico (marcar como inactivo)
    UPDATE dbo.EVENTOSINVENTARIO
    SET
        Activo = 0
    WHERE
        idEventoInventario = @idEventoInventario;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.EVENTOSINVENTARIO SET Activo = 0 WHERE idEventoInventario = ' + CAST(@idEventoInventario AS VARCHAR(20)) + ';';

    EXEC dbo.PA_ADM_INS_BITACORA
        'D', -- O 'L' si prefieres un tipo específico para lógico
        'EVENTOSINVENTARIO',
        @idEventoInventario,
        @IdGeneralLogueado,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
