USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_DEL_EVENTOSESTADO]    Script Date: 19/05/2025 04:15:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 19/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA REALIZAR UN BORRADO LÓGICO DE UN EVENTO DE ESTADO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_DEL_EVENTOSESTADO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_DEL_EVENTOSESTADO] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idEventoEstado INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del evento de estado existe
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE idEventoEstado = @idEventoEstado)
    BEGIN
        RAISERROR('El ID del evento de estado especificado no existe.', 16, 1);
        RETURN;
    END

	IF EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE idEventoEstado =@idEventoEstado AND Activo = 0)
    BEGIN
        RAISERROR('El estado del evento ya se encuentra inactivo.', 16, 1);
        RETURN;
    END

    -- Realizar el borrado lógico (marcar como inactivo)
    UPDATE dbo.EVENTOSESTADO
    SET
        Activo = 0
    WHERE
        idEventoEstado = @idEventoEstado;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.EVENTOSESTADO SET Activo = 0 WHERE idEventoEstado = '+CONVERT(NVARCHAR(50),ISNULL(@idEventoEstado,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'D', -- O 'L' si prefieres un tipo específico para lógico
        'EVENTOSESTADO',
        @idEventoEstado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
