USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_DEL_FACTURAS]    Script Date: 08/05/2025 07:50:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 25/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA REALIZAR UN BORRADO LÓGICO DE UNA FACTURA
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_DEL_FACTURAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_DEL_FACTURAS] (
    @idFactura BIGINT,
	@IdPantalla INT,
    @IdGeneral INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de la factura existe
    IF NOT EXISTS (SELECT 1 FROM dbo.FACTURAS WHERE idFactura = @idFactura)
    BEGIN
        RAISERROR('El ID de la factura especificada no existe.', 16, 1);
        RETURN;
    END

	IF EXISTS (SELECT 1 FROM dbo.FACTURAS WHERE idFactura = @idFactura AND Activo = 0)
    BEGIN
        RAISERROR('La FACTURA ya se encuentra inactiva.', 16, 1);
        RETURN;
    END

    -- Realizar el borrado lógico (marcar como inactivo)
    UPDATE dbo.FACTURAS
    SET
        Publicar=0, Activo = 0
    WHERE
        idFactura = @idFactura;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.FACTURAS SET Publicar = 0, Activo = 0 WHERE idFactura = '+CONVERT(NVARCHAR(50),ISNULL(@idFactura,0))

    EXEC dbo.PA_ADM_INS_BITACORA
        'D', -- O 'L' si prefieres un tipo específico para lógico
        'FACTURAS',
        @idFactura,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
