USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_DEL_BIENES]    Script Date: 05/05/2025 03:07:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 05/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA REALIZAR UN BORRADO LÓGICO DE UN BIEN
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_DEL_BIENES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_DEL_BIENES] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idBien BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del bien existe
    IF NOT EXISTS (SELECT 1 FROM dbo.BIENES WHERE idBien = @idBien)
    BEGIN
        RAISERROR('El ID del bien especificado no existe.', 16, 1);
        RETURN;
    END

	IF EXISTS (SELECT 1 FROM dbo.BIENES WHERE idBien = @idBien AND Activo = 0)
    BEGIN
        RAISERROR('El bien ya se encuentra inactivo.', 16, 1);
        RETURN;
    END

    -- Realizar el borrado lógico (marcar como inactivo)
    UPDATE dbo.BIENES
    SET
        Activo = 0
    WHERE
        idBien = @idBien;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.BIENES SET Activo = 0 WHERE idBien = '+CONVERT(NVARCHAR(50),ISNULL(@idBien,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'D', -- O 'L' si prefieres un tipo específico para lógico
        'BIENES',
        @idBien,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
