USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_DEL_AREAS]    Script Date: 07/05/2025 12:19:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 07/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA REALIZAR UN BORRADO LÓGICO DE UN ÁREA
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_DEL_AREAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_DEL_AREAS] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idArea INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del área existe
    IF NOT EXISTS (SELECT 1 FROM dbo.AREAS WHERE idArea = @idArea)
    BEGIN
        RAISERROR('El ID del área especificada no existe.', 16, 1);
        RETURN;
    END

    -- Realizar el borrado lógico (marcar como inactivo)
    UPDATE dbo.AREAS
    SET
        Activo = 0
    WHERE
        idArea = @idArea;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.AREAS SET Activo = 0 WHERE idArea = '+CONVERT(NVARCHAR(50),ISNULL(@idArea,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'D', -- O 'L' si prefieres un tipo específico para lógico
        'AREAS',
        @idArea,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
