USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_ETIQUETADO_BIENES]    Script Date: 09/05/2025 11:33:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 8/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA CAMBIAR EL ETIQUETADO DE UN BIEN
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_ETIQUETADO_BIENES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_ETIQUETADO_BIENES] (
    @idBien BIGINT,
    @IdPantalla INT,
    @IdGeneral INT,
    @NuevoEstadoEtiquetado BIT OUTPUT -- Parámetro de salida
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del bien existe
    IF NOT EXISTS (SELECT 1 FROM dbo.BIENES WHERE idBien = @idBien)
    BEGIN
        RAISERROR('El ID del Bien especificado no existe.', 16, 1);
        RETURN;
    END

    -- Cambiar el estado de Etiquetado (toggle)
    UPDATE dbo.BIENES
	SET
		Etiquetado = CASE
						WHEN Etiquetado = 1 THEN 0
						ELSE 1
					END
	WHERE
		idBien = @idBien;

    -- Obtener el nuevo estado para el parámetro de salida
    SELECT @NuevoEstadoEtiquetado = Etiquetado FROM dbo.BIENES WHERE idBien = @idBien;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.BIENES SET Etiquetado = ' + CONVERT(VARCHAR(1), @NuevoEstadoEtiquetado) + ' WHERE idBien = '+CONVERT(NVARCHAR(50),ISNULL(@idBien,0))

    EXEC dbo.PA_ADM_INS_BITACORA
        'U', -- Indica una actualización
        'FACTURAS',
        @idBien,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
