USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_ELI_TRANSFERENCIA]    Script Date: 09/05/2025 03:48:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
    Elaboró:  PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 09/05/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA ELIMINADO LÓGICO UNA TRANSFERENCIA
    Desarrolló:  JAIRO MARTINEZ LOPEZ
--  PA_DEL_TRANSFERENCIAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_DEL_TRANSFERENCIA] (
    @idTransferencia INT,
    @IdGeneralLogueado INT,
    @IdPantalla INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de Transferencia existe
    IF NOT EXISTS (SELECT 1 FROM dbo.TRANSFERENCIAS WHERE idTransferencia = @idTransferencia)
    BEGIN
        RAISERROR('El ID de Transferencia especificado no existe.', 16, 1);
        RETURN;
    END

    DECLARE @Consulta NVARCHAR(MAX);

    -- Eliminación lógica
    UPDATE dbo.TRANSFERENCIAS
    SET Activo = 0
    WHERE idTransferencia = @idTransferencia;

    SET @Consulta = 'UPDATE dbo.TRANSFERENCIAS SET Activo = 0 WHERE idTransferencia = ' + CAST(@idTransferencia AS VARCHAR(10)) + ';';
    
    EXEC dbo.PA_ADM_INS_BITACORA
        'D',  -- O 'L' si prefieres un tipo específico para eliminación lógica
        'TRANSFERENCIAS',
        @idTransferencia,
        @IdGeneralLogueado,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END;
