USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_EVENTOSESTADO]    Script Date: 19/05/2025 04:16:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 19/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN EVENTO DE ESTADO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_INS_EVENTOSESTADO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_EVENTOSESTADO] (
    @IdPantalla INT,
    @IdGeneral INT,
	@IdEventoEstado INT = NULL,
    @Nombre NVARCHAR(50) = NULL,
    @Activo BIT = 1,
    @Descripcion NVARCHAR(200) = NULL,
    @Clave NVARCHAR(10) = NULL,
    @Bloqueado BIT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

	-- Validación para @IdGeneral
    IF @IdGeneral IS NULL OR @IdGeneral <= 0
    BEGIN
        RAISERROR('El parámetro @IdGeneral es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN;
    END

    -- Validación para @Nombre (obligatorio y no vacío)
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El parámetro @Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    -- Verificar si el nombre del evento de estado ya existe
    IF EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('El nombre del evento de estado ya existe.', 16, 1);
        RETURN;
    END

    -- Verificar si la clave del evento de estado ya existe
    IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave del evento de estado ya existe.', 16, 1);
        RETURN;
    END

    -- Insertar el nuevo evento de estado
    INSERT INTO dbo.EVENTOSESTADO (Nombre, Activo, Descripcion, Clave, Bloqueado)
    VALUES (@Nombre, ISNULL(@Activo, 1), @Descripcion, @Clave, ISNULL(@Bloqueado, 0));

    -- Obtener el ID del evento de estado recién insertado
    DECLARE @idEventoEstadoInsertado INT;
    SET @idEventoEstadoInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.EVENTOSESTADO (Nombre, Activo, Descripcion, Clave, Bloqueado) VALUES (''' + REPLACE(@Nombre, '''', '''''') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', ''' + ISNULL(@Clave, 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), '0') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'EVENTOSESTADO',
        @idEventoEstadoInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
