USE [bdInventario]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
    Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 04/07/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UNA UNIDAD RESPONSABLE
    Desarrolló: JAIRO MARTINEZ LOPEZ
-- PA_INS_UNIDADESRESPONSABLES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_UNIDADESRESPONSABLES] (
	@IdUnidadResponsable INT = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @Direccion NVARCHAR(100) = NULL,
    @RazonSocial NVARCHAR(100),
    @RFC NVARCHAR(15),
    @Domicilio NVARCHAR(300) = NULL,
    @Telefono NVARCHAR(50) = NULL,
    @Fax NVARCHAR(50) = NULL,
    @DomicilioFiscal NVARCHAR(300) = NULL,
    @CP NVARCHAR(6) = NULL,
    @Clave INT = NULL,
    @Activo BIT = 1,
    @IdPantalla INT,
    @IdGeneral INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El Nombre es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    IF @RazonSocial IS NULL OR LTRIM(RTRIM(@RazonSocial)) = ''
    BEGIN
        RAISERROR('La Razón Social es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    IF @RFC IS NULL OR LTRIM(RTRIM(@RFC)) = ''
    BEGIN
        RAISERROR('El RFC es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    IF @DomicilioFiscal IS NULL OR LTRIM(RTRIM(@DomicilioFiscal)) = ''
    BEGIN
        RAISERROR('El Domicilio Fiscal es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    IF @Clave IS NULL
    BEGIN
        RAISERROR('La Clave es un campo obligatorio y no puede ser nula.', 16, 1);
        RETURN;
    END

    -- **VALIDACIONES DE UNICIDAD**
    IF EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('Ya existe una Unidad Responsable con este Nombre.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE RFC = @RFC)
    BEGIN
        RAISERROR('Ya existe una Unidad Responsable con este RFC.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE Clave = @Clave)
    BEGIN
        RAISERROR('Ya existe una Unidad Responsable con esta Clave.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.UNIDADESRESPONSABLES (
        Nombre,
        Direccion,
        RazonSocial,
        RFC,
        Domicilio,
        Telefono,
        Fax,
        DomicilioFiscal,
        CP,
        Clave,
        Activo
    )
    VALUES (
        @Nombre,
        @Direccion,
        @RazonSocial,
        @RFC,
        @Domicilio,
        @Telefono,
        @Fax,
        @DomicilioFiscal,
        @CP,
        @Clave,
        @Activo
    );

    -- Obtener el ID del registro recién insertado
    DECLARE @IdUnidadResponsableInsertado INT;
    SET @IdUnidadResponsableInsertado = SCOPE_IDENTITY();

    -- **REGISTRO EN LA BITÁCORA**
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.UNIDADESRESPONSABLES (Nombre, Direccion, RazonSocial, RFC, Domicilio, Telefono, Fax, DomicilioFiscal, CP, Clave, Activo) VALUES (''' +
                    REPLACE(@Nombre, '''', '''''') + ''', ''' +
                    ISNULL(REPLACE(@Direccion, '''', ''''''), 'NULL') + ''', ''' +
                    REPLACE(@RazonSocial, '''', '''''') + ''', ''' +
                    REPLACE(@RFC, '''', '''''') + ''', ''' +
                    ISNULL(REPLACE(@Domicilio, '''', ''''''), 'NULL') + ''', ''' +
                    ISNULL(REPLACE(@Telefono, '''', ''''''), 'NULL') + ''', ''' +
                    ISNULL(REPLACE(@Fax, '''', ''''''), 'NULL') + ''', ''' +
                    REPLACE(@DomicilioFiscal, '''', '''''') + ''', ''' +
                    ISNULL(REPLACE(@CP, '''', ''''''), 'NULL') + ''', ' +
                    CAST(@Clave AS VARCHAR(10)) + ', ' +
                    CONVERT(VARCHAR(1), @Activo) + ');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'UNIDADESRESPONSABLES',
        @IdUnidadResponsableInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END;

GO

USE [bdInventario]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
    Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 04/07/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UNA UNIDAD RESPONSABLE
    Desarrolló: JAIRO MARTINEZ LOPEZ
-- PA_UPD_UNIDADESRESPONSABLES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_UNIDADESRESPONSABLES] (
    @IdUnidadResponsable INT,
    @Nombre NVARCHAR(100),
    @Direccion NVARCHAR(100) = NULL,
    @RazonSocial NVARCHAR(100),
    @RFC NVARCHAR(15),
    @Domicilio NVARCHAR(300) = NULL,
    @Telefono NVARCHAR(50) = NULL,
    @Fax NVARCHAR(50) = NULL,
    @DomicilioFiscal NVARCHAR(300),
    @CP NVARCHAR(6) = NULL,
    @Clave INT,
    @Activo BIT, -- Se espera que se envíe el valor deseado
    @IdPantalla INT,
    @IdGeneral INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- **VALIDACIONES DE EXISTENCIA Y ESTADO**
    IF NOT EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE IdUnidadResponsable = @IdUnidadResponsable)
    BEGIN
        RAISERROR('La Unidad Responsable con el ID especificado no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el registro está inactivo (si permites modificar inactivos, remueve esta validación)
    IF EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE IdUnidadResponsable = @IdUnidadResponsable AND Activo = 0)
    BEGIN
        RAISERROR('La Unidad Responsable que intenta modificar se encuentra inactiva y no puede ser actualizada.', 16, 1);
        RETURN;
    END

    -- **VALIDACIONES DE ENTRADA OBLIGATORIAS**
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El Nombre es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    IF @RazonSocial IS NULL OR LTRIM(RTRIM(@RazonSocial)) = ''
    BEGIN
        RAISERROR('La Razón Social es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    IF @RFC IS NULL OR LTRIM(RTRIM(@RFC)) = ''
    BEGIN
        RAISERROR('El RFC es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    IF @DomicilioFiscal IS NULL OR LTRIM(RTRIM(@DomicilioFiscal)) = ''
    BEGIN
        RAISERROR('El Domicilio Fiscal es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    IF @Clave IS NULL
    BEGIN
        RAISERROR('La Clave es un campo obligatorio y no puede ser nula.', 16, 1);
        RETURN;
    END

    -- **VALIDACIONES DE UNICIDAD PARA OTROS REGISTROS**
    IF EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE Nombre = @Nombre AND IdUnidadResponsable <> @IdUnidadResponsable)
    BEGIN
        RAISERROR('Ya existe una Unidad Responsable con este Nombre.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE RFC = @RFC AND IdUnidadResponsable <> @IdUnidadResponsable)
    BEGIN
        RAISERROR('Ya existe una Unidad Responsable con este RFC.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE Clave = @Clave AND IdUnidadResponsable <> @IdUnidadResponsable)
    BEGIN
        RAISERROR('Ya existe una Unidad Responsable con esta Clave.', 16, 1);
        RETURN;
    END

    -- **ACTUALIZACIÓN DEL REGISTRO**
    UPDATE dbo.UNIDADESRESPONSABLES
    SET
        Nombre = @Nombre,
        Direccion = @Direccion,
        RazonSocial = @RazonSocial,
        RFC = @RFC,
        Domicilio = @Domicilio,
        Telefono = @Telefono,
        Fax = @Fax,
        DomicilioFiscal = @DomicilioFiscal,
        CP = @CP,
        Clave = @Clave,
        Activo = @Activo
    WHERE
        IdUnidadResponsable = @IdUnidadResponsable;

    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.UNIDADESRESPONSABLES SET ' +
                    'Nombre = ''' + REPLACE(@Nombre, '''', '''''') + ''', ' +
                    'Direccion = ''' + ISNULL(REPLACE(@Direccion, '''', ''''''), 'NULL') + ''', ' +
                    'RazonSocial = ''' + REPLACE(@RazonSocial, '''', '''''') + ''', ' +
                    'RFC = ''' + REPLACE(@RFC, '''', '''''') + ''', ' +
                    'Domicilio = ''' + ISNULL(REPLACE(@Domicilio, '''', ''''''), 'NULL') + ''', ' +
                    'Telefono = ''' + ISNULL(REPLACE(@Telefono, '''', ''''''), 'NULL') + ''', ' +
                    'Fax = ''' + ISNULL(REPLACE(@Fax, '''', ''''''), 'NULL') + ''', ' +
                    'DomicilioFiscal = ''' + REPLACE(@DomicilioFiscal, '''', '''''') + ''', ' +
                    'CP = ''' + ISNULL(REPLACE(@CP, '''', ''''''), 'NULL') + ''', ' +
                    'Clave = ' + CAST(@Clave AS VARCHAR(10)) + ', ' +
                    'Activo = ' + CONVERT(VARCHAR(1), @Activo) +
                    -- (', Bloqueado = ' + CONVERT(VARCHAR(1), @Bloqueado)) + -- Si existe la columna 'Bloqueado'
                    ' WHERE IdUnidadResponsable = ' + CAST(@IdUnidadResponsable AS VARCHAR(10)) + ';';

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'UNIDADESRESPONSABLES',
        @IdUnidadResponsable,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END;
 GO

 USE [bdInventario]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
    Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 04/07/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA REALIZAR UN BORRADO LÓGICO DE UNA UNIDAD RESPONSABLE
    Desarrolló: JAIRO MARTINEZ LOPEZ
-- PA_DEL_UNIDADESRESPONSABLES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_DEL_UNIDADESRESPONSABLES] (
    @IdUnidadResponsable INT,
    @IdPantalla INT,
    @IdGeneral INT    
)
AS
BEGIN
    SET NOCOUNT ON;

    -- **VALIDACIONES DE EXISTENCIA Y ESTADO**
    IF NOT EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE IdUnidadResponsable = @IdUnidadResponsable)
    BEGIN
        RAISERROR('La Unidad Responsable con el ID especificado no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si la unidad responsable ya está inactiva
    IF EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE IdUnidadResponsable = @IdUnidadResponsable AND Activo = 0)
    BEGIN
        RAISERROR('La Unidad Responsable ya se encuentra inactiva.', 16, 1);
        RETURN;
    END
    -- **REALIZAR EL BORRADO LÓGICO (marcar como inactivo)**
    UPDATE dbo.UNIDADESRESPONSABLES
    SET
        Activo = 0
    WHERE
        IdUnidadResponsable = @IdUnidadResponsable;

    -- **REGISTRAR EN LA BITÁCORA**
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.UNIDADESRESPONSABLES SET Activo = 0 WHERE IdUnidadResponsable = ' + CAST(@IdUnidadResponsable AS VARCHAR(10)) + ';';

    EXEC dbo.PA_ADM_INS_BITACORA
        'D',    
        'UNIDADESRESPONSABLES',
        @IdUnidadResponsable,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END;