USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_EVENTOSINVENTARIO]    Script Date: 20/05/2025 08:26:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 20/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN EVENTO DE INVENTARIO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_INS_EVENTOSINVENTARIO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_EVENTOSINVENTARIO] (
    @IdPantalla INT,
	@IdGeneral INT,
    @IdGeneralAsignado INT,
    @idArea INT,
    @FechaInicio DATETIME,
    @FechaTermino DATETIME,
    @Folio NVARCHAR(50),
    @Activo BIT = 1,
    @idEventoEstado INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que idEventoEstado exista en la tabla EVENTOSESTADO
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE idEventoEstado = @idEventoEstado)
    BEGIN
        RAISERROR('No se puede agregar el evento de inventario. El ID de Estado de Evento especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que idArea exista en la tabla AREAS
    IF NOT EXISTS (SELECT 1 FROM dbo.AREAS WHERE idArea = @idArea)
    BEGIN
        RAISERROR('No se puede agregar el evento de inventario. El ID de Área especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que el Folio no se repita
    IF EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE Folio = @Folio)
    BEGIN
        RAISERROR('El Folio del evento de inventario ya existe.', 16, 1);
        RETURN;
    END

    -- Validar que el idGeneral no tenga asignado otro EVENTOSINVENTARIO en las mismas fechas o que se crucen
    IF EXISTS (
        SELECT 1
        FROM dbo.EVENTOSINVENTARIO
        WHERE idGeneral = @IdGeneralAsignado
          AND (
                (@FechaInicio BETWEEN FechaInicio AND FechaTermino) OR
                (@FechaTermino BETWEEN FechaInicio AND FechaTermino) OR
                (FechaInicio BETWEEN @FechaInicio AND @FechaTermino) OR
                (FechaTermino BETWEEN @FechaInicio AND @FechaTermino)
              )
    )
    BEGIN
        RAISERROR('El usuario ya tiene un evento de inventario asignado que se cruza con las fechas proporcionadas.', 16, 1);
        RETURN;
    END

    -- Insertar el nuevo evento de inventario
    INSERT INTO dbo.EVENTOSINVENTARIO (idGeneral, idArea, FechaInicio, FechaTermino, Folio, Activo, idEventoEstado)
    VALUES (@IdGeneralAsignado, @idArea, @FechaInicio, @FechaTermino, @Folio, ISNULL(@Activo, 1), @idEventoEstado);

    -- Obtener el ID del evento de inventario recién insertado
    DECLARE @idEventoInventarioInsertado BIGINT;
    SET @idEventoInventarioInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.EVENTOSINVENTARIO (idGeneral, idArea, FechaInicio, FechaTermino, Folio, Activo, idEventoEstado) VALUES (' + CAST(@IdGeneralAsignado AS VARCHAR(10)) + ', ' + CAST(@idArea AS VARCHAR(10)) + ', ''' + CONVERT(VARCHAR(30), @FechaInicio, 126) + ''', ''' + CONVERT(VARCHAR(30), @FechaTermino, 126) + ''', ''' + REPLACE(@Folio, '''', '''''') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ' + CAST(@idEventoEstado AS VARCHAR(10)) + ');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'EVENTOSINVENTARIO',
        @idEventoInventarioInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
