USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_REGIONES]    Script Date: 07/05/2025 01:23:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 07/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UNA REGIÓN
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_INS_REGIONES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_REGIONES] (
    @IdPantalla INT,
	@IdGeneral INT,
    @IdGeneralAsignado INT,
    @Clave VARCHAR(10) = NULL,
    @Nombre VARCHAR(70),
    @Activo BIT = 1,
    @Bloqueado BIT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si la clave de la región ya existe
    IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM dbo.REGIONES WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave de la región ya existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el nombre de la región ya existe
    IF EXISTS (SELECT 1 FROM dbo.REGIONES WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('El nombre de la región ya existe.', 16, 1);
        RETURN;
    END

    -- Verificar si existe el idGeneral en la tabla Usuarios
    --IF NOT EXISTS (SELECT 1 FROM dbo.Usuarios WHERE idGeneral = @IdGeneralAsignado)
    --BEGIN
      --  RAISERROR('No se puede agregar la región. El IdGeneral del usuario especificado no existe.', 16, 1);
       -- RETURN;
    --END

    -- Insertar la nueva región
    INSERT INTO dbo.REGIONES (Clave, Nombre, idGeneral, Activo, Bloqueado)
    VALUES (@Clave, @Nombre, @IdGeneralAsignado, ISNULL(@Activo, 1), ISNULL(@Bloqueado, 0));

    -- Obtener el ID de la región recién insertada
    DECLARE @idRegionInsertado INT;
    SET @idRegionInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.REGIONES (Clave, Nombre, idGeneral, Activo, Bloqueado) VALUES (' + @Clave + ', ' + @Nombre + ', ' + CAST(@IdGeneralAsignado AS VARCHAR(10)) + ', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), '0') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'REGIONES',
        @idRegionInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
