USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_CAT_CAUSALBAJAS]    Script Date: 04/07/2025 09:18:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 23/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UNA CAUSAL DE BAJA
	Desarrolló: JAIRO MARTINEZ LÓPEZ
--  PA_INS_CAT_CAUSALBAJAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_CAT_CAUSALBAJAS] (
    @IdPantalla INT,
    @IdGeneral INT,
	@IdCaulsalBaja INT = NULL,
	@Clave VARCHAR(10) = NULL,
    @Nombre NVARCHAR(100) = NULL,
	@Descripcion VARCHAR(255) = NULL,
    @Activo BIT = 1,
    @Bloqueado BIT = 0
)
AS
BEGIN
    SET NOCOUNT ON;
	-- Validación para @Nombre (obligatorio y no vacío)
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El parámetro Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

	IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM ACCIONES WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave ''%s'' ya existe. No se puede duplicar.', 16, 1, @Clave);
        RETURN;
    END
    -- Verificar si el nombre de la causal de baja ya existe
    IF EXISTS (SELECT 1 FROM dbo.CAT_CAUSALBAJAS WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('El nombre de la causal de baja ya existe.', 16, 1);
        RETURN;
    END

    -- Insertar la nueva causal de baja
    INSERT INTO dbo.CAT_CAUSALBAJAS (Nombre, Activo, Descripcion, Clave, Bloqueado)
    VALUES (@Nombre, ISNULL(@Activo, 1), @Descripcion, @Clave, ISNULL(@Bloqueado, 0));

    -- Obtener el ID de la causal de baja recién insertada
    DECLARE @idCausalBajaInsertado INT;
    SET @idCausalBajaInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.CAT_CAUSALBAJAS (Nombre, Activo, Descripcion, Clave, Bloqueado) VALUES (''' + REPLACE(@Nombre, '''', '''''') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', ''' + ISNULL(@Clave, 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), '0') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'CAT_CAUSALBAJAS',
        @idCausalBajaInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
