USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_FACTURAS]    Script Date: 27/05/2025 07:43:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************
    Elaboró : PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Creación : 25/04/2025   •   Actualización : 13/05/2025
    Descripción : PROCEDIMIENTO ALMACENADO PARA INSERTAR UNA FACTURA
    Desarrolló : JAIRO MARTÍNEZ LÓPEZ
*******************************/
ALTER PROCEDURE [dbo].[PA_INS_FACTURAS] (
    @IdPantalla           INT,
    @IdGeneral            INT,
	@IdFactura INT = NULL,
    @NumeroFactura        NVARCHAR(50) = NULL,
    @FolioFiscal          NVARCHAR(50) = NULL,
    @FechaFactura         DATE = NULL,
    @idFinanciamiento     INT,
    @idUnidadResponsable  INT,
    @idEstado             INT = 1,
    @Nota                 NVARCHAR(200) = NULL,
    @Publicar             BIT = 0,
    @Activo               BIT = 1,
    @FechaRegistro        DATETIME = NULL,
    @Archivo              VARBINARY(MAX) = NULL,
    @CantidadBienes       INT = NULL,
    @RutaArchivo          NVARCHAR(260) = NULL     
)
AS
BEGIN
    SET NOCOUNT ON;

	-- Validar que idFinanciamiento exista
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_FINANCIAMIENTOS WHERE idFinanciamiento = @idFinanciamiento)
    BEGIN
        RAISERROR('El ID de Financiamiento especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que idUnidadResponsable exista
    IF NOT EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE idUnidadResponsable = @idUnidadResponsable)
    BEGIN
        RAISERROR('El ID de Unidad Responsable especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que idEstado exista en el catálogo de estados de facturas
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_ESTADOS WHERE idEstado = @idEstado)
    BEGIN
        RAISERROR('El ID de Estado de Factura especificado no es válido o no existe.', 16, 1);
        RETURN;
    END

    /* ---------- Validaciones previas ---------- */
    IF @Archivo IS NOT NULL AND @RutaArchivo IS NOT NULL
    BEGIN
        RAISERROR('Proporcione solo @Archivo ó @RutaArchivo, no ambos.', 16, 1);
        RETURN;
    END

    IF @Archivo IS NULL AND @RutaArchivo IS NULL
    BEGIN
        RAISERROR('Debe proporcionar @Archivo (VARBINARY) o @RutaArchivo (NAS).', 16, 1);
        RETURN;
    END

	-- Validación para @Nombre (obligatorio y no vacío)
    IF @CantidadBienes IS NULL OR LTRIM(RTRIM(@CantidadBienes)) = ''
    BEGIN
        RAISERROR('El parámetro Cantidad Bienes es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    /* Verificar número de factura duplicado */
    IF @NumeroFactura IS NOT NULL
       AND EXISTS (SELECT 1 FROM dbo.FACTURAS WHERE NumeroFactura = @NumeroFactura)
    BEGIN
        RAISERROR('El número de factura ya existe.', 16, 1);
        RETURN;
    END

    /* ---------- Inserción ---------- */
    INSERT INTO dbo.FACTURAS (
        NumeroFactura, FolioFiscal, FechaFactura,
        idFinanciamiento, idUnidadResponsable, idEstado,
        Nota, Publicar, Activo, FechaRegistro,
        Archivo, RutaArchivo, CantidadBienes
    )
    VALUES (
        @NumeroFactura, @FolioFiscal, @FechaFactura,
        @idFinanciamiento, @idUnidadResponsable, @idEstado,
        @Nota, ISNULL(@Publicar,0), ISNULL(@Activo,1),
        ISNULL(@FechaRegistro,GETDATE()),
        @Archivo, @RutaArchivo, @CantidadBienes
    );

    /* ---------- Id recién insertado ---------- */
    DECLARE @idFacturaInsertado BIGINT = SCOPE_IDENTITY();

    /* ---------- Bitácora ---------- */
    DECLARE @Consulta NVARCHAR(MAX);

    SET @Consulta = 'INSERT INTO dbo.FACTURAS (NumeroFactura, FolioFiscal, FechaFactura, ' +
                    'idFinanciamiento, idUnidadResponsable, idEstado, Nota, Publicar, Activo, ' +
                    'FechaRegistro, CantidadBienes, RutaArchivo) VALUES (''' +
                    ISNULL(@NumeroFactura,'NULL') + ''', ''' +
                    ISNULL(@FolioFiscal,'NULL') + ''', ''' +
                    ISNULL(CONVERT(VARCHAR(10),@FechaFactura,120),'NULL') + ''', ' +
                    ISNULL(CAST(@idFinanciamiento AS VARCHAR(10)),'NULL') + ', ' +
                    ISNULL(CAST(@idUnidadResponsable AS VARCHAR(10)),'NULL') + ', ' +
                    ISNULL(CAST(@idEstado AS VARCHAR(10)),'NULL') + ', ''' +
                    ISNULL(REPLACE(@Nota,'''',''''''),'NULL') + ''', ''' +
                    ISNULL(CONVERT(VARCHAR(1),@Publicar),'0') + ''', ''' +
                    ISNULL(CONVERT(VARCHAR(1),@Activo),'1') + ''', ''' +
                    ISNULL(CONVERT(VARCHAR(30),@FechaRegistro,126),
                           CONVERT(VARCHAR(30),GETDATE(),126)) + ''', ' +
                    ISNULL(CAST(@CantidadBienes AS VARCHAR(10)),'NULL') + ', ''' +
                    ISNULL(@RutaArchivo,'NULL') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'FACTURAS',
        @idFacturaInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
