USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_BIENES]    Script Date: 18/06/2025 06:40:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
    Elaboró:  PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 05/05/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN BIEN
    Desarrolló:  JAIRO MARTINEZ LOPEZ
--  PA_INS_BIENES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_BIENES] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idColor INT,
    @FechaAlta DATE,
    @Aviso NVARCHAR(50),
    @Serie NVARCHAR(50),
    @Modelo NVARCHAR(100),
    @idEstadoFisico INT,
    @idMarca INT,
    @Costo FLOAT,
    @Etiquetado BIT,
    @FechaEtiquetado DATE,
    @Activo BIT = 1,
    @Disponibilidad BIT = NULL,
    @FechaBaja DATE = NULL,
    @idCausalBaja INT = NULL,
    @idDisposicionFinal INT = NULL,
    @idFactura BIGINT,
	@PartidaContable NVARCHAR(4),
    --@NoInventario NVARCHAR(30) = NULL, 
    @idCatalogoBien INT,
    @Observaciones NVARCHAR(400),
    @Salida NVARCHAR(15) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaRegistro DATETIME,
            @MaxBien INT,
            @idTipoBien INT,
            @Inventario NVARCHAR(30),
            @ClaveEnte NVARCHAR(3),
            @Presupuesto INT,
            @AnioRegistro INT,
			@1raTransferencia INT = 2162;

    -- Obtener la cantidad máxima de bienes permitidos por factura (si existe en la tabla FACTURAS)
    DECLARE @CantidadMaximaBienes INT;
    SELECT @CantidadMaximaBienes = CantidadBienes
    FROM dbo.FACTURAS
    WHERE idFactura = @idFactura;

    -- Si se define una cantidad máxima, verificar si se ha alcanzado
    IF @CantidadMaximaBienes IS NOT NULL AND (SELECT COUNT(*) FROM dbo.BIENES WHERE idFactura = @idFactura) >= @CantidadMaximaBienes
    BEGIN
        RAISERROR('No se pueden agregar más bienes a la factura. Se ha alcanzado la cantidad máxima permitida.', 16, 1);
        RETURN;
    END

    -- Obtener idTipoBien de CAT_BIENES
    SELECT @idTipoBien = idTipoBien
    FROM dbo.CAT_BIENES
    WHERE idCatalogoBien = @idCatalogoBien;

    -- Obtener PartidaContable de CAT_BIENES
    --SELECT @PartidaContable = PartidaContable
    --FROM dbo.CAT_BIENES
    --WHERE idCatalogoBien = @idCatalogoBien;

    -- Obtener ClaveEnte y Presupuesto de FACTURAS
    SELECT
        @ClaveEnte = UR.Clave,
        @Presupuesto = F.idFinanciamiento,
        @AnioRegistro = YEAR(F.FechaRegistro)
    FROM dbo.FACTURAS AS F
    INNER JOIN dbo.UNIDADESRESPONSABLES AS UR ON F.idUnidadResponsable = UR.idUnidadResponsable
    WHERE F.idFactura = @idFactura;
	
	-- Obtener el valor de UMAs
    DECLARE @ImporteUmas AS FLOAT
    SELECT @ImporteUmas = ValorUMA * 70 FROM UMAS WHERE anio = year(getdate()) and activo = 1;

	DECLARE @UMAS INT;
    SET @UMAS = CASE WHEN @Costo >= @ImporteUmas THEN 1 ELSE 2 END;

    -- Generar el número de inventario
    SET @MaxBien = (SELECT dbo.FN_ConsecutivoNoInventario(@idTipoBien, @idCatalogoBien));
    SET @Inventario = CAST(@UMAS AS NVARCHAR(1)) + @PartidaContable + '.' + @ClaveEnte + '.' + CAST(@Presupuesto AS NVARCHAR(1)) + '.' 
	+ RIGHT('000' + CAST(@idCatalogoBien AS NVARCHAR(3)), 3) + '.' + RIGHT('0000' + CAST(@MaxBien AS NVARCHAR), 4) + '/' + CAST(@AnioRegistro AS NVARCHAR(4));

    DECLARE @AplicaUMAS BIT;
    SET @AplicaUMAS = CASE WHEN @Costo >= @ImporteUmas THEN 1 ELSE 0 END;

    -- Insertar el nuevo bien
    INSERT INTO dbo.BIENES (idColor, FechaRegistro, FechaAlta, Aviso, Serie, Modelo, idEstadoFisico, idMarca, Costo, Etiquetado, FechaEtiquetado, Activo,
                Disponibilidad, FechaBaja, idCausalBaja, idDisposicionFinal, idFactura, NoInventario, idCatalogoBien, Observaciones, AplicaUMAS, Salida)
    VALUES (@idColor, ISNULL(@FechaRegistro, GETDATE()), @FechaAlta, @Aviso, @Serie, @Modelo, @idEstadoFisico, @idMarca, @Costo, @Etiquetado, CASE WHEN @FechaEtiquetado = '' THEN NULL ELSE @FechaEtiquetado END, 1,
            1, NUll, NUll, NULL, @idFactura, @Inventario, @idCatalogoBien, @Observaciones, @AplicaUMAS, @Salida);

    -- Obtener el ID del bien recién insertado
    DECLARE @idBienInsertado BIGINT;
    SET @idBienInsertado = SCOPE_IDENTITY();

	INSERT INTO BIENES_NOINVENTARIO (NoInventario,idBien,Activo) values(@Inventario,@idBienInsertado,1)

	--Insertamos en la tabla de ubicacion fisica, lo que sería la primera transferencia a almacen
	EXEC PA_INS_UBICACIONESFISICAS @idBienInsertado, @FechaRegistro, @1raTransferencia, @IdPantalla, @IdGeneral

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.BIENES (idColor, FechaRegistro, FechaAlta, Aviso, Serie, Modelo, idEstadoFisico, idMarca, Costo, Etiquetado, FechaEtiquetado, Activo, Disponibilidad, FechaBaja, idCausalBaja, idDisposicionFinal, idFactura, NoInventario, idCatalogoBien, Observaciones, AplicaUMAS, Salida) 
						VALUES (' + ISNULL(CAST(@idColor AS VARCHAR(10)), 'NULL') + ', ''' + CONVERT(VARCHAR(30), ISNULL(@FechaRegistro, GETDATE()), 126) + ''', ''' + ISNULL(CONVERT(VARCHAR(10), @FechaAlta, 120), 'NULL') + ''', ''' + ISNULL(@Aviso, 'NULL') + ''', ''' + ISNULL(@Serie, 'NULL') + ''', ''' + ISNULL(@Modelo, 'NULL') + ''', ' + ISNULL(CAST(@idEstadoFisico AS VARCHAR(10)), 'NULL') + ', ' + ISNULL(CAST(@idMarca AS VARCHAR(10)), 'NULL') + ', ' + ISNULL(CAST(@Costo AS VARCHAR(20)), 'NULL') + ', ''' + ISNULL(CONVERT(VARCHAR(1), @Etiquetado), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(10), @FechaEtiquetado, 120), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Disponibilidad), '1') + ''', ''' + ISNULL(CONVERT(VARCHAR(10), @FechaBaja, 120), 'NULL') + ''', ' + ISNULL(CAST(@idCausalBaja AS VARCHAR(10)), 'NULL') + ', ' + ISNULL(CAST(@idDisposicionFinal AS VARCHAR(10)), 'NULL') + ', ' + CAST(@idFactura AS VARCHAR(20)) + ', ''' + ISNULL(@Inventario, 'NULL') + ''', ' + CAST(@idCatalogoBien AS VARCHAR(10)) + ', ''' + ISNULL(REPLACE(@Observaciones, '''', ''''''), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @AplicaUMAS), 'NULL') + ''', ''' + ISNULL(@Salida, 'NULL') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'BIENES',
        @idBienInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
