USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_CAT_COLORES]    Script Date: 04/06/2025 08:03:00 p. m. ******/ -- Fecha actualizada
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 23/04/2025 -- Fecha original mantenida
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN COLOR
	Desarrolló: Jairo Martinez Lopez
--  PA_INS_CAT_COLORES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_CAT_COLORES] (
    @IdPantalla INT,
    @IdGeneral INT,
    @Nombre NVARCHAR(50), -- Tipo de dato cambiado a NVARCHAR para coincidir con la tabla (si aplica, o mantener VARCHAR si es así en tabla)
    @Activo BIT = 1,
    @Descripcion VARCHAR(200) = NULL,
    @Clave VARCHAR(10) = NULL,
    @Bloqueado BIT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    -- --------------------------------------------------------------------------
    -- VALIDACIONES DE PARÁMETROS DE ENTRADA
    -- --------------------------------------------------------------------------

    -- Validación para @IdGeneral
    IF @IdGeneral IS NULL OR @IdGeneral <= 0
    BEGIN
        RAISERROR('El parámetro @IdGeneral es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN;
    END

    -- Validación para @Nombre (obligatorio y no vacío)
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = N'' -- Usar N'' para cadenas Unicode vacías si @Nombre es NVARCHAR
    BEGIN
        RAISERROR('El parámetro @Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    -- --------------------------------------------------------------------------
    -- LÓGICA PRINCIPAL DEL PROCEDIMIENTO
    -- --------------------------------------------------------------------------

    -- Verificar si el nombre del color ya existe
    IF EXISTS (SELECT 1 FROM dbo.CAT_COLORES WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('El nombre del color ''%s'' ya existe. No se puede duplicar.', 16, 1, @Nombre);
        RETURN;
    END

    -- Verificar si la clave del color ya existe (si se proporciona y no es NULL)
    IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM dbo.CAT_COLORES WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave del color ''%s'' ya existe. No se puede duplicar.', 16, 1, @Clave);
        RETURN;
    END

    -- Insertar el nuevo color
    INSERT INTO dbo.CAT_COLORES (Nombre, Activo, Descripcion, Clave, Bloqueado)
    VALUES (@Nombre, @Activo, @Descripcion, @Clave, @Bloqueado);

    -- Obtener el ID del color recién insertado
    DECLARE @idColorInsertado INT;
    SET @idColorInsertado = SCOPE_IDENTITY();

    -- --------------------------------------------------------------------------
    -- REGISTRO EN BITÁCORA 
    -- --------------------------------------------------------------------------
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.CAT_COLORES (Nombre, Activo, Descripcion, Clave, Bloqueado) VALUES (''' + REPLACE(@Nombre, '''', '''''') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', ''' + ISNULL(REPLACE(@Clave, '''', ''''''), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), '0') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'CAT_COLORES',
        @idColorInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
