USE [bdInventario]
GO
/****** Object: StoredProcedure [dbo].[PA_INS_UBICACIONESFISICAS] Script Date: 16/05/2025 10:24:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************
    Elaboró:  PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 09/05/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA ASIGNAR UBICACION AL BIEN
    Desarrolló:  JAIRO MARTINEZ LOPEZ
--  PA_INS_UBICACIOFISICA
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_UBICACIONESFISICAS] (
    @IdUbicacionFisica INT,
	@idBien INT,
    @FechaTransferencia DATETIME,
	@FechaCaptura INT = NULL,
	@Activo INT = 1,
    @idTransferencia INT,
    @IdPantalla INT,
    @IdGeneral INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de Transferencia existe
    IF NOT EXISTS (SELECT 1 FROM dbo.TRANSFERENCIAS WHERE idTransferencia = @idTransferencia OR @idTransferencia IS NULL)
    BEGIN
        RAISERROR('El ID de Transferencia especificado no existe. No se puede crear la ubicación física sin una transferencia válida.', 16, 1);
        RETURN;
    END
    -- Asegura que siempre haya una sola ubicación "activa" (Activo=1) para un bien en un momento dado, lo que representa su adscripción vigente.
    UPDATE UBICACIONESFISICAS SET Activo=0 WHERE IdBien=@idBien;

    INSERT INTO dbo.UBICACIONESFISICAS (idBien, FechaTransferencia, FechaCaptura, Activo, idTransferencia)
    VALUES (@idBien, @FechaTransferencia, GETDATE(), 1, @idTransferencia);

    SET @idUbicacionFisica = SCOPE_IDENTITY();

    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.UBICACIONESFISICAS (idBien, FechaTransferencia, FechaCaptura, Activo, idTransferencia) VALUES (' + CAST(@idBien AS VARCHAR(10)) + ', ''' + CONVERT(VARCHAR(30), @FechaTransferencia, 126) + ''', ''' + CONVERT(VARCHAR(30), GETDATE(), 126) + ''', 1, ' + CAST(@idTransferencia AS VARCHAR(10)) + ');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'UBICACIONESFISICAS',
        @idUbicacionFisica,
        @idGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END;
