USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_CAT_FINANCIAMIENTOS]    Script Date: 02/07/2025 11:42:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 25/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN FINANCIAMIENTO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_INS_CAT_FINANCIAMIENTOS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_CAT_FINANCIAMIENTOS] (
    @IdPantalla INT,
    @IdGeneral INT,
	@Clave VARCHAR(10),
    @Nombre NVARCHAR(150),
	@Descripcion VARCHAR(255),
    @Activo BIT,
    @Bloqueado BIT
)
AS
BEGIN
    SET NOCOUNT ON;
	-- Validación para @IdGeneral
    IF @IdGeneral IS NULL OR @IdGeneral <= 0
    BEGIN
        RAISERROR('El parámetro @IdGeneral es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN;
    END

    -- Validación para @Nombre (obligatorio y no vacío)
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El parámetro @Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

	IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM ACCIONES WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave ''%s'' ya existe. No se puede duplicar.', 16, 1, @Clave);
        RETURN;
    END
    -- Verificar si el nombre del financiamiento ya existe
    IF EXISTS (SELECT 1 FROM dbo.CAT_FINANCIAMIENTOS WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('El nombre del financiamiento ya existe.', 16, 1);
        RETURN;
    END

    -- Insertar el nuevo financiamiento
    INSERT INTO dbo.CAT_FINANCIAMIENTOS (Nombre, Activo, Descripcion, Clave, Bloqueado)
    VALUES (@Nombre, ISNULL(@Activo, 1), @Descripcion, @Clave, ISNULL(@Bloqueado, 0));

    -- Obtener el ID del financiamiento recién insertado
    DECLARE @idFinanciamientoInsertado INT;
    SET @idFinanciamientoInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.CAT_FINANCIAMIENTOS (Nombre, Activo, Descripcion, Clave, Bloqueado) VALUES (''' + REPLACE(@Nombre, '''', '''''') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', ''' + ISNULL(@Clave, 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), '0') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'CAT_FINANCIAMIENTOS',
        @idFinanciamientoInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
