USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_CAT_BIENES]    Script Date: 04/07/2025 09:17:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 24/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN BIEN
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_INS_CAT_BIENES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_CAT_BIENES] (
    @IdPantalla INT,
    @IdGeneral INT,
	@IdCatalogoBien INT = NULL,
    @idTipoBien INT,
	@Clave INT = NULL,
    @Nombre NVARCHAR(200)= NULL,
	@Descripcion VARCHAR(255) = NULL,
    @Activo BIT = 1,
    @Bloqueado BIT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

	-- Validación para @Nombre (obligatorio y no vacío)
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El parámetro Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

	IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM ACCIONES WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave ''%s'' ya existe. No se puede duplicar.', 16, 1, @Clave);
        RETURN;
    END
    -- Verificar si el nombre del bien ya existe para el mismo tipo de bien
    IF EXISTS (SELECT 1 FROM dbo.CAT_BIENES WHERE Nombre = @Nombre AND idTipoBien = @idTipoBien)
    BEGIN
        RAISERROR('El nombre del catalogo del bien ya existe para este tipo de bien.', 16, 1);
        RETURN;
    END

    -- Insertar el nuevo bien
    INSERT INTO dbo.CAT_BIENES (idTipoBien, Nombre, Clave, Activo, Descripcion, Bloqueado)
    VALUES (@idTipoBien, @Nombre, @Clave, ISNULL(@Activo, 1), @Descripcion, ISNULL(@Bloqueado, 0));

    -- Obtener el ID del bien recién insertado
    DECLARE @idCatalogoBienInsertado INT;
    SET @idCatalogoBienInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.CAT_BIENES (idTipoBien, Nombre, Clave, Activo, Descripcion, Bloqueado) VALUES (' + CAST(@idTipoBien AS VARCHAR(10)) + ', ''' + REPLACE(@Nombre, '''', '''''') + ''', ' + ISNULL(CAST(@Clave AS VARCHAR(10)), 'NULL') + ', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), '0') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'CAT_BIENES',
        @idCatalogoBienInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
