USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_CAT_TIPOSBIENES]    Script Date: 02/07/2025 11:37:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 23/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN TIPO DE BIEN
	Desarrolló: Gemini AI
--  PA_INS_CAT_TIPOSBIENES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_CAT_TIPOSBIENES] (
    @IdPantalla INT,
    @IdGeneral INT,
    @Clave INT,
    @Nombre NVARCHAR(200),
	@Descripcion VARCHAR(255),
    @Activo BIT,
    @Bloqueado BIT
)
AS
BEGIN
    SET NOCOUNT ON;
	-- Validación para @IdGeneral
    IF @IdGeneral IS NULL OR @IdGeneral <= 0
    BEGIN
        RAISERROR('El parámetro @IdGeneral es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN;
    END

    -- Validación para @Nombre (obligatorio y no vacío)
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El parámetro @Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END
    -- Verificar si el nombre del tipo de bien ya existe
    IF EXISTS (SELECT 1 FROM dbo.CAT_TIPOSBIENES WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('El nombre del tipo de bien ya existe.', 16, 1);
        RETURN;
    END

	IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM ACCIONES WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave ''%s'' ya existe. No se puede duplicar.', 16, 1, @Clave);
        RETURN;
    END

    -- Insertar el nuevo tipo de bien
    INSERT INTO dbo.CAT_TIPOSBIENES (Clave, Nombre, Activo, Descripcion, Bloqueado)
    VALUES (@Clave, @Nombre, ISNULL(@Activo, 1), @Descripcion, ISNULL(@Bloqueado, 0));

    -- Obtener el ID del tipo de bien recién insertado
    DECLARE @idTipoBienInsertado INT;
    SET @idTipoBienInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.CAT_TIPOSBIENES (Clave, Nombre, Activo, Descripcion, Bloqueado) VALUES (' + ISNULL(CAST(@Clave AS VARCHAR(10)), 'NULL') + ', ''' + REPLACE(@Nombre, '''', '''''') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), '0') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'CAT_TIPOSBIENES',
        @idTipoBienInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
