USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_LEVANTAMIENTOSINVENTARIO_MASIVO]    Script Date: 23/05/2025 10:39:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 22/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR MÚLTIPLES REGISTROS DE LEVANTAMIENTO DE INVENTARIO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_INS_LEVANTAMIENTOSINVENTARIO_MASIVO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_LEVANTAMIENTOSINVENTARIO_MASIVO] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idEventoInventario INT,
    @ListaLevantamientos dbo.TipoLevantamientoInventario READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE @EstadoEvento INT;
	SELECT @EstadoEvento = idEventoEstado FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario;

	IF @EstadoEvento IN (4, 5) -- Asumiendo que 4 y 5 son los IDs de estado "Terminado" o "Finalizado"
	BEGIN
		RAISERROR('No se pueden realizar cambios en este levantamiento de inventario porque el evento asociado ha sido terminado o finalizado.', 16, 1);
		RETURN;
	END

    -- Validar que idEventoInventario exista en la tabla EVENTOSINVENTARIO
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario)
    BEGIN
        RAISERROR('No se puede agregar el levantamiento masivo. El ID de Evento de Inventario especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que todos los idBien en la lista existan en la tabla BIENES
    IF EXISTS (
        SELECT L.idBien
        FROM @ListaLevantamientos AS L
        LEFT JOIN dbo.BIENES AS B ON L.idBien = B.idBien
        WHERE B.idBien IS NULL
    )
    BEGIN
        DECLARE @BienesInvalidos NVARCHAR(MAX) = '';
        SELECT @BienesInvalidos = @BienesInvalidos + CAST(L.idBien AS NVARCHAR(20)) + ', '
        FROM @ListaLevantamientos AS L
        LEFT JOIN dbo.BIENES AS B ON L.idBien = B.idBien
        WHERE B.idBien IS NULL;

        SET @BienesInvalidos = LEFT(@BienesInvalidos, LEN(@BienesInvalidos) - 1);
        RAISERROR('No se pueden agregar algunos levantamientos. Los siguientes IDs de Bien no existen: %s', 16, 1, @BienesInvalidos);
        RETURN;
    END

    -- Validar que no se estén intentando insertar duplicados (idBien + idEventoInventario)
    IF EXISTS (
        SELECT 1
        FROM dbo.LEVANTAMIENTOSINVENTARIO AS LI
        INNER JOIN @ListaLevantamientos AS LL ON LI.idBien = LL.idBien
        WHERE LI.idEventoInventario = @idEventoInventario
    )
    BEGIN
        DECLARE @BienesDuplicados NVARCHAR(MAX) = '';
        SELECT @BienesDuplicados = @BienesDuplicados + CAST(LL.idBien AS NVARCHAR(20)) + ', '
        FROM dbo.LEVANTAMIENTOSINVENTARIO AS LI
        INNER JOIN @ListaLevantamientos AS LL ON LI.idBien = LL.idBien
        WHERE LI.idEventoInventario = @idEventoInventario;

        SET @BienesDuplicados = LEFT(@BienesDuplicados, LEN(@BienesDuplicados) - 1);
        RAISERROR('Ya existen levantamientos de inventario para los siguientes bienes en el evento especificado: %s', 16, 1, @BienesDuplicados);
        RETURN;
    END

    -- Insertar múltiples registros de levantamiento de inventario
    INSERT INTO dbo.LEVANTAMIENTOSINVENTARIO (idBien, idEventoInventario, Observaciones, ExisteElBien, FechaVerificacion, FueActualizado)
    SELECT
        LL.idBien,
        @idEventoInventario,
        LL.Observaciones,
        LL.ExisteElBien,
        LL.FechaVerificacion,
        ISNULL(LL.FueActualizado, 0)
    FROM
        @ListaLevantamientos AS LL;

    -- Registro en bitacora para cada inserción:
    DECLARE @idLevantamiento BIGINT;
    DECLARE @idBienCursor BIGINT;
    DECLARE @CursorLevantamientos CURSOR;

    SET @CursorLevantamientos = CURSOR FOR
    SELECT idBien
    FROM @ListaLevantamientos;

    OPEN @CursorLevantamientos;
    FETCH NEXT FROM @CursorLevantamientos INTO @idBienCursor;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SELECT @idLevantamiento = idLevantamientoInventario
        FROM dbo.LEVANTAMIENTOSINVENTARIO
        WHERE idBien = @idBienCursor AND idEventoInventario = @idEventoInventario;

        DECLARE @ConsultaLog NVARCHAR(MAX);
        SET @ConsultaLog = 'INSERT INTO dbo.LEVANTAMIENTOSINVENTARIO (idBien, idEventoInventario, Observaciones, ExisteElBien, FechaVerificacion, FueActualizado) VALUES (' + CAST(@idBienCursor AS VARCHAR(20)) + ', ' + CAST(@idEventoInventario AS VARCHAR(10)) + ', ...);';

        EXEC dbo.PA_ADM_INS_BITACORA
            'I',
            'LEVANTAMIENTOSINVENTARIO',
            @idLevantamiento,
            @IdGeneral,
            @IdPantalla,
            @ConsultaLog;

        FETCH NEXT FROM @CursorLevantamientos INTO @idBienCursor;
    END

    CLOSE @CursorLevantamientos;
    DEALLOCATE @CursorLevantamientos;

    RETURN 0;
END
