USE [bdInventario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 11/04/2025 05:32:58 p. m 
	Descripción: PROCEDIMIENTO ALMACENADO PARA LA INSERCIÓN EN LA TABLA MODULOS
	Desarrolló: Jairo Martinez
--  PA_ins_modulos 
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_MODULOS] (
    @IdPantalla INT,
    @IdGeneral INT,
	@Clave VARCHAR(50) = NULL,
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(255) = NULL,
    @Activo BIT = 1,
	@Bloqueado BIT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    -- --------------------------------------------------------------------------
    -- VALIDACIONES DE PARÁMETROS DE ENTRADA
    -- --------------------------------------------------------------------------
	
    -- Validación para @IdGeneral
    IF @IdGeneral IS NULL OR @IdGeneral <= 0
    BEGIN
        RAISERROR('El parámetro @IdGeneral es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN;
    END

    -- Validación para @Nombre (obligatorio y no vacío)
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El parámetro Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    -- --------------------------------------------------------------------------
    -- LÓGICA PRINCIPAL DEL PROCEDIMIENTO
    -- --------------------------------------------------------------------------

    -- Verificar si el nombre del módulo ya existe
    IF EXISTS (SELECT 1 FROM MODULOS WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('El nombre del módulo ''%s'' ya existe. No se puede duplicar.', 16, 1, @Nombre);
        RETURN;
    END

    -- Verificar si la clave del módulo ya existe (si se proporciona y no es NULL)
    IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM MODULOS WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave del módulo ''%s'' ya existe. No se puede duplicar.', 16, 1, @Clave);
        RETURN;
    END

    -- Insertar el nuevo módulo
    INSERT INTO MODULOS (Clave, Nombre, Descripcion, Activo, Bloqueado)
    VALUES (@Clave, @Nombre, @Descripcion, @Activo, @Bloqueado);

    -- Obtener el ID del módulo recién insertado
    DECLARE @idModuloInsertado INT;
    SET @idModuloInsertado = SCOPE_IDENTITY();

    -- --------------------------------------------------------------------------
    -- REGISTRO EN BITÁCORA 
    -- --------------------------------------------------------------------------
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO MODULOS (Clave, Nombre, Descripcion, Activo, Bloqueado) VALUES (''' + ISNULL(REPLACE(@Clave, '''', ''''''), 'NULL') +''', '''+ REPLACE(@Nombre, '''', '''''') + ''', ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', ''' + CONVERT(VARCHAR(1), @Activo) +''', '''+ CONVERT(VARCHAR(1), @Bloqueado) + ''');';

    EXEC PA_ADM_INS_BITACORA
        'I',
        'MODULOS',
        @idModuloInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
