USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_AREAS]    Script Date: 07/05/2025 12:19:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 07/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN ÁREA
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_INS_AREAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_AREAS] (
    @IdPantalla INT,
    @IdGeneral INT,
    @Clave NVARCHAR(20) = NULL,
    @Nombre NVARCHAR(200),
    @Direccion NVARCHAR(500),
    @idAreaPadre INT = NULl,
    @IdUnidadResponsable INT,
    @PermitirEntradas BIT = NULL,
    @PermitirSalidas BIT = NULL,
    @idRegion INT
)
AS
BEGIN
    SET NOCOUNT ON;

	-- Validación para @IdGeneral
    IF @IdGeneral IS NULL OR @IdGeneral <= 0
    BEGIN
        RAISERROR('El parámetro @IdGeneral es inválido o no fue proporcionado. Debe ser un número entero positivo.', 16, 1);
        RETURN;
    END

    -- Validación para @Nombre (obligatorio y no vacío)
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El parámetro @Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    -- Verificar si la clave del área ya existe
    IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM dbo.AREAS WHERE Clave = @Clave)
    BEGIN
        RAISERROR('La clave del área ya existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el nombre del área ya existe
    IF EXISTS (SELECT 1 FROM dbo.AREAS WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR('El nombre del área ya existe.', 16, 1);
        RETURN;
    END

	 -- Verificar si existe el idRegion en la tabla REGIONES
    IF NOT EXISTS (SELECT 1 FROM dbo.REGIONES WHERE idRegion = @idRegion)
    BEGIN
        RAISERROR('No se puede agregar el área. El ID de región especificado no existe.', 16, 1);
        RETURN;
    END

    -- Insertar la nueva área
    INSERT INTO dbo.AREAS (Clave, Nombre, Direccion, idAreaPadre, Activo, IdUnidadResponsable, PermitirEntradas, PermitirSalidas, idRegion)
    VALUES (@Clave, @Nombre, @Direccion, @idAreaPadre, 1, @IdUnidadResponsable, ISNULL(@PermitirEntradas, 0), ISNULL(@PermitirSalidas, 0), @idRegion);

    -- Obtener el ID del área recién insertada
    DECLARE @idAreaInsertado INT;
    SET @idAreaInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.AREAS (Clave, Nombre, Direccion, idAreaPadre, Activo, IdUnidadResponsable, PermitirEntradas, PermitirSalidas, idRegion) VALUES (''' + ISNULL(@Clave, 'NULL') + ''', ''' + REPLACE(@Nombre, '''', '''''') + ''', ''' + ISNULL(REPLACE(@Direccion, '''', ''''''), 'NULL') + ''', ' + ISNULL(CAST(@idAreaPadre AS VARCHAR(10)), 'NULL') + ', ''' + '1' + ''', ' + CAST(@IdUnidadResponsable AS VARCHAR(10)) + ', ''' + ISNULL(CONVERT(VARCHAR(1), @PermitirEntradas), '0') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @PermitirSalidas), '0') + ''', ' + CAST(@idRegion AS VARCHAR(10)) + ');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'AREAS',
        @idAreaInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
