USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_TRANSFERENCIA]    Script Date: 09/05/2025 03:49:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************
    Elaboró:  PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 09/05/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UNA TRANSFERENCIA
    Desarrolló:  JAIRO MARTINEZ LOPEZ
--  PA_INS_TRANSFERENCIAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_TRANSFERENCIA] (
	@IdGeneralLogueado INT,
    @Folio NVARCHAR(50),
    @FechaRegistro DATETIME,
    @Observaciones NVARCHAR(MAX),
    @Responsable NVARCHAR(100),
    @Activo BIT,
    @idAreaOrigen INT,
    @idAreaDestino INT,
    @idGeneral INT,
    @IdPantalla INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idTransferencia INT;

    -- Verificar si las áreas de origen y destino existen
    IF NOT EXISTS (SELECT 1 FROM dbo.Areas WHERE idArea = @idAreaOrigen)
    BEGIN
        RAISERROR('El Área de Origen especificado no existe.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Areas WHERE idArea = @idAreaDestino)
    BEGIN
        RAISERROR('El Área de Destino especificado no existe.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.TRANSFERENCIAS (Folio, FechaRegistro, Observaciones, Responsable, Activo, idAreaOrigen, idAreaDestino, idGeneral)
    VALUES (@Folio, ISNULL(@FechaRegistro, GETDATE()), @Observaciones, @Responsable, ISNULL(@Activo, 1), @idAreaOrigen, @idAreaDestino, @idGeneral);

    SET @idTransferencia = SCOPE_IDENTITY();

    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.TRANSFERENCIAS (Folio, FechaRegistro, Observaciones, Responsable, Activo, idAreaOrigen, idAreaDestino, idGeneral) VALUES (''' + REPLACE(@Folio, '''', '''''') + ''', ''' + CONVERT(VARCHAR(30), ISNULL(@FechaRegistro, GETDATE()), 126) + ''', ''' + REPLACE(@Observaciones, '''', '''''') + ''', ''' + REPLACE(@Responsable, '''', '''''') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), '1') + ''', ' + CAST(@idAreaOrigen AS VARCHAR(10)) + ', ' + CAST(@idAreaDestino AS VARCHAR(10)) + ', ' + CAST(@idGeneral AS VARCHAR(10)) + ');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'TRANSFERENCIAS',
        @idTransferencia,
        @IdGeneralLogueado,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END;
