USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_INS_LEVANTAMIENTOSINVENTARIO]    Script Date: 23/05/2025 10:38:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 22/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR UN REGISTRO DE LEVANTAMIENTO DE INVENTARIO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_INS_LEVANTAMIENTOSINVENTARIO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_INS_LEVANTAMIENTOSINVENTARIO] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idBien BIGINT,
    @idEventoInventario INT,
    @Observaciones NVARCHAR(MAX) = NULL,
    @ExisteElBien BIT = NULL,
    @FechaVerificacion DATETIME = NULL,
    @FueActualizado BIT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE @EstadoEvento INT;
	SELECT @EstadoEvento = idEventoEstado FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario;

	IF @EstadoEvento IN (4, 5) -- Asumiendo que 4 y 5 son los IDs de estado "Terminado" o "Finalizado"
	BEGIN
		RAISERROR('No se pueden realizar cambios en este levantamiento de inventario porque el evento asociado ha sido terminado o finalizado.', 16, 1);
		RETURN;
	END

    -- Validar que idBien exista en la tabla BIENES
    IF NOT EXISTS (SELECT 1 FROM dbo.BIENES WHERE idBien = @idBien)
    BEGIN
        RAISERROR('No se puede agregar el levantamiento. El ID de Bien especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que idEventoInventario exista en la tabla EVENTOSINVENTARIO
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario)
    BEGIN
        RAISERROR('No se puede agregar el levantamiento. El ID de Evento de Inventario especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que no exista ya un levantamiento para este bien en este evento
    IF EXISTS (SELECT 1 FROM dbo.LEVANTAMIENTOSINVENTARIO WHERE idBien = @idBien AND idEventoInventario = @idEventoInventario)
    BEGIN
        RAISERROR('Ya existe un levantamiento de inventario para este bien en el evento especificado.', 16, 1);
        RETURN;
    END

    -- Insertar el nuevo registro de levantamiento de inventario
    INSERT INTO dbo.LEVANTAMIENTOSINVENTARIO (idBien, idEventoInventario, Observaciones, ExisteElBien, FechaVerificacion, FueActualizado)
    VALUES (@idBien, @idEventoInventario, @Observaciones, @ExisteElBien, @FechaVerificacion, ISNULL(@FueActualizado, 0));

    -- Obtener el ID del levantamiento recién insertado
    DECLARE @idLevantamientoInventarioInsertado BIGINT;
    SET @idLevantamientoInventarioInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO dbo.LEVANTAMIENTOSINVENTARIO (idBien, idEventoInventario, Observaciones, ExisteElBien, FechaVerificacion, FueActualizado) VALUES (' + CAST(@idBien AS VARCHAR(20)) + ', ' + CAST(@idEventoInventario AS VARCHAR(10)) + ', ''' + ISNULL(REPLACE(@Observaciones, '''', ''''''), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @ExisteElBien), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(30), @FechaVerificacion, 126), 'NULL') + ''', ''' + ISNULL(CONVERT(VARCHAR(1), @FueActualizado), '0') + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'LEVANTAMIENTOSINVENTARIO',
        @idLevantamientoInventarioInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
