USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_OtorgarPermisoUsuario]    Script Date: 23/04/2025 04:08:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 10/04/2025 07:22:35 p. m.
	Descripción: PROCEDIMIENTO ALMACENADO PARA OTORGAR PERMISOS AL USUARIO
	Desarrolló: Jairo Martinez
--  PA_OtorgarPermusiUsuario
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_OtorgarPermisoUsuario] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idUsuario INT,
    @idPermiso INT,
    @Otorgado BIT = 1
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el usuario esté activo y no bloqueado
    IF NOT EXISTS (SELECT 1 FROM USUARIOS WHERE idUsuario = @idUsuario AND Activo = 1 AND Bloqueado = 0)
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM USUARIOS WHERE idUsuario = @idUsuario)
        BEGIN
            RAISERROR('El usuario especificado no existe.', 16, 1);
        END
        ELSE IF EXISTS (SELECT 1 FROM USUARIOS WHERE idUsuario = @idUsuario AND Activo = 0)
        BEGIN
            RAISERROR('El usuario se encuentra inactivo y no se le pueden otorgar permisos.', 16, 1);
        END
        ELSE IF EXISTS (SELECT 1 FROM USUARIOS WHERE idUsuario = @idUsuario AND Bloqueado = 1)
        BEGIN
            RAISERROR('El usuario se encuentra bloqueado y no se le pueden otorgar permisos.', 16, 1);
        END
        RETURN;
    END

    -- Validar que el permiso esté activo y no bloqueado
    IF NOT EXISTS (SELECT 1 FROM PERMISOS WHERE idPermiso = @idPermiso AND Activo = 1 AND Bloqueado = 0)
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM PERMISOS WHERE idPermiso = @idPermiso)
        BEGIN
            RAISERROR('El permiso especificado no existe.', 16, 1);
        END
        ELSE IF EXISTS (SELECT 1 FROM PERMISOS WHERE idPermiso = @idPermiso AND Activo = 0)
        BEGIN
            RAISERROR('El permiso se encuentra inactivo y no puede ser otorgado.', 16, 1);
        END
        ELSE IF EXISTS (SELECT 1 FROM PERMISOS WHERE idPermiso = @idPermiso AND Bloqueado = 1)
        BEGIN
            RAISERROR('El permiso se encuentra bloqueado y no puede ser otorgado.', 16, 1);
        END
        RETURN;
    END

    -- Verificar si ya existe este permiso para el usuario
    IF EXISTS (SELECT 1 FROM UsuariosPermisos WHERE idUsuario = @idUsuario AND idPermiso = @idPermiso)
    BEGIN
        RAISERROR('Este permiso ya ha sido otorgado al usuario.', 16, 1);
        RETURN;
    END

    -- Insertar el permiso del usuario
    INSERT INTO UsuariosPermisos (idUsuario, idPermiso, Otorgado)
    VALUES (@idUsuario, @idPermiso, @Otorgado);

    -- Obtener el ID del registro recién insertado
    DECLARE @idUsuarioPermisoInsertado INT;
    SET @idUsuarioPermisoInsertado = SCOPE_IDENTITY();

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'INSERT INTO UsuariosPermisos (idUsuario, idPermiso, Otorgado) VALUES (' + CAST(@idUsuario AS VARCHAR(10)) + ', ' + CAST(@idPermiso AS VARCHAR(10)) + ', ''' + CONVERT(VARCHAR(1), @Otorgado) + ''');';

    EXEC dbo.PA_ADM_INS_BITACORA
        'I',
        'UsuariosPermisos',
        @idUsuarioPermisoInsertado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END