USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_PUBLICAR_FACTURAS]    Script Date: 08/05/2025 07:58:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 8/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA CAMBIAR EL PUBLICADO DE UNA FACTURA
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_DEL_FACTURAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_PUBLICAR_FACTURAS] (
    @idFactura BIGINT,
    @IdPantalla INT,
    @IdGeneral INT,
    @NuevoEstadoPublicar BIT OUTPUT -- Parámetro de salida
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de la factura existe
    IF NOT EXISTS (SELECT 1 FROM dbo.FACTURAS WHERE idFactura = @idFactura)
    BEGIN
        RAISERROR('El ID de la factura especificada no existe.', 16, 1);
        RETURN;
    END
	-- Verificar si el registro está inactivo
    IF EXISTS (SELECT 1 FROM dbo.FACTURAS WHERE idFactura = @idFactura AND Activo = 0)
    BEGIN
        RAISERROR('La factura que intenta publicar se encuentra inactivo y no puede ser publicada.', 16, 1);
        RETURN;
    END

    -- Cambiar el estado de Publicar (toggle)
    UPDATE dbo.FACTURAS
	SET
		Publicar = CASE
						WHEN Publicar = 1 THEN 0
						ELSE 1
					END,
		idEstado = CASE
						WHEN Publicar = 0 THEN 3 -- Si el nuevo valor de Publicar es 1 (después del toggle desde 0)
						ELSE idEstado       -- Mantener el valor actual de idEstado si Publicar era 1 y cambió a 0
					END
	WHERE
		idFactura = @idFactura;

    -- Obtener el nuevo estado para el parámetro de salida
    SELECT @NuevoEstadoPublicar = Publicar FROM dbo.FACTURAS WHERE idFactura = @idFactura;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.FACTURAS SET Publicar = ' + CONVERT(VARCHAR(1), @NuevoEstadoPublicar) + ' WHERE idFactura = '+CONVERT(NVARCHAR(50),ISNULL(@idFactura,0))

    EXEC dbo.PA_ADM_INS_BITACORA
        'U', -- Indica una actualización
        'FACTURAS',
        @idFactura,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
