USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_RESET_PASSWORD_USUARIO]    Script Date: 23/04/2025 04:08:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[PA_RESET_PASSWORD_USUARIO]
(
    @idUsuario INT,
    @NuevaPassword NVARCHAR(100),
    @IdGeneral INT,
    @IdPantalla INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el usuario esté activo y no bloqueado
    IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE idUsuario = @idUsuario AND Activo = 1 AND Bloqueado = 0)
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE idUsuario = @idUsuario)
        BEGIN
            RAISERROR('El usuario especificado no existe.', 16, 1);
        END
        ELSE IF EXISTS (SELECT 1 FROM Usuarios WHERE idUsuario = @idUsuario AND Activo = 0)
        BEGIN
            RAISERROR('El usuario se encuentra inactivo y no se le pueden otorgar permisos.', 16, 1);
        END
        ELSE IF EXISTS (SELECT 1 FROM Usuarios WHERE idUsuario = @idUsuario AND Bloqueado = 1)
        BEGIN
            RAISERROR('El usuario se encuentra bloqueado y no se le pueden otorgar permisos.', 16, 1);
        END
        RETURN;
    END

    -- Encriptar la nueva contraseña
    DECLARE @PasswordHash VARBINARY(64);
    SET @PasswordHash = HASHBYTES('SHA2_256', CONVERT(NVARCHAR(MAX), @NuevaPassword));

    -- Actualizar contraseña
    UPDATE USUARIOS
    SET Password = @PasswordHash
    WHERE idUsuario = @idUsuario;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE USUARIOS SET Password = 0x'+CONVERT(VARCHAR(MAX), @PasswordHash, 2)+' WHERE idUsuario = ' + CAST(@idUsuario AS NVARCHAR);

    EXEC PA_ADM_INS_BITACORA
        'U',
        'USUARIOS',
        @idUsuario,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
