USE [bdInventario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 19/06/2025
	Descripción: Procedimiento Almacenado para la selección de reporte de bajas DETALLADO.
    Lista los detalles de cada bien dado de alta en un periodo específico.
	Desarrollado por: JAIRO MARTINEZ LOPEZ
	PA_SEL_ReporteBajasDETALLADO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_SEL_ReporteBajasDetallado]
(
    @IdGeneral          AS INT,
    @IdPantalla         AS INT,
    @idFinanciamiento   AS INT = 0,
    @Anio               AS INT = 0,
    @Mes                AS INT = 0,
    @UnidadResponsable  AS INT = 0,
    @idArea             AS INT = 0,
    @Umas               AS BIT
)
AS
BEGIN
    -- Elimina el conteo de registros afectados para mejorar el rendimiento.
    SET NOCOUNT ON;

    -- Declaración de variables locales para almacenar el rango de fechas de la consulta.
    DECLARE @fechaIni AS DATE, @fechaFin AS DATE;

    -- Lógica para determinar el rango de fechas (mes o año completo) basado en el parámetro @Mes.
    IF (@Mes = 0)
    BEGIN
        SET @fechaIni = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-01-01', 23);
        SET @fechaFin = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-12-31', 23);
    END
    ELSE
    BEGIN
        SET @fechaIni = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(2)) + '-01', 23);
        SET @fechaFin = EOMONTH(CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(4)) + '-01', 23));
    END

    -- Consulta principal para seleccionar los registros de bienes dados de baja en detalle.
    SELECT
        CAT_TIPOSBIENES.Clave AS ClaveTipoBien,
        CAT_TIPOSBIENES.Nombre AS TipoBienNombre,
        CAT_BIENES.Clave AS ClaveBien, 
        CAT_BIENES.Nombre AS BienDesc, 
        -- Número de inventario del bien. Incluye lógica para ajustar prefijo si no aplica UMAS.
        CASE WHEN BIENES.AplicaUMAS = 0 THEN '2' + SUBSTRING(BIENES.NoInventario, 2, 24) ELSE BIENES.NoInventario END AS NoInventario,
        -- Descripción del color del bien (LEFT JOIN porque el color puede ser opcional).
        CAT_COLORES.Nombre AS Color, -- Usamos Nombre según tu ERD
        -- Descripción del estado físico del bien.
        CAT_ESTADOSFISICOS.Nombre AS Estado, -- Usamos Nombre según tu ERD
        -- Campo de aviso asociado al bien.
        BIENES.Aviso,
        -- Descripción de la marca del bien.
        CAT_MARCAS.Nombre AS Marca, -- Usamos Nombre según tu ERD
        -- Número de serie del bien.
        BIENES.Serie,
        -- Modelo del bien.
        BIENES.Modelo,
        -- Costo de adquisición del bien.
        BIENES.Costo,
        -- ID de la causal de baja del bien.
        BIENES.idCausalBaja AS idCausal, -- Se obtiene directamente de BIENES
        -- Descripción de la disposición final del bien.
        CAT_DISPOSICIONESFINALES.Nombre AS Disposicion, -- Usamos Nombre según tu ERD
        -- Folio fiscal de la factura asociada al bien.
        FACTURAS.FolioFiscal,
        -- Observaciones adicionales sobre el bien.
        BIENES.Observaciones
    FROM
        BIENES
    -- Se une con CAT_BIENES para obtener la clasificación detallada del bien.
    -- Se filtra por categorías activas.
    INNER JOIN CAT_BIENES
        ON CAT_BIENES.idCatalogoBien = BIENES.idCatalogoBien AND CAT_BIENES.Activo = 1
    -- Se une con FACTURAS para obtener la información de facturación del bien.
    INNER JOIN FACTURAS
        ON FACTURAS.idFactura = BIENES.idFactura
	-- Se une con CAT_FINANCIAMIENTOS (FIN) para obtener la descripción del financiamiento.
    INNER JOIN CAT_FINANCIAMIENTOS AS FIN
        ON FIN.idFinanciamiento = FACTURAS.idFinanciamiento
	-- Se une con CAT_TIPOSBIENES para obtener el tipo general del bien.
    INNER JOIN CAT_TIPOSBIENES
        ON CAT_TIPOSBIENES.IdTipoBien = CAT_BIENES.IdTipoBien
	-- Se une con UBICACIONESFISICAS para obtener la ubicación física del bien.
    INNER JOIN UBICACIONESFISICAS
        ON BIENES.idBien = UBICACIONESFISICAS.idBien AND UBICACIONESFISICAS.Activo = 1 AND UBICACIONESFISICAS.Activo = 1
    -- Se une con TRANSFERENCIAS para obtener los detalles de la transferencia asociada a la ubicación.
    INNER JOIN TRANSFERENCIAS
        ON TRANSFERENCIAS.idTransferencia = UBICACIONESFISICAS.idTransferencia
    -- Se une con AREAS para obtener la unidad responsable asociada al área destino de la transferencia.
    INNER JOIN AREAS
        ON AREAS.idArea = TRANSFERENCIAS.idAreaDestino
    
    -- Se une con CAT_MARCAS para obtener la descripción de la marca del bien.
    INNER JOIN CAT_MARCAS
        ON CAT_MARCAS.idMarca = BIENES.idMarca
    
    -- LEFT JOIN con CAT_COLORES porque la asignación de color puede ser opcional.
    LEFT JOIN CAT_COLORES
        ON CAT_COLORES.idColor = BIENES.idColor
    -- Se une con CAT_ESTADOFISICOS para obtener la descripción del estado físico del bien.
    INNER JOIN CAT_ESTADOSFISICOS
        ON CAT_ESTADOSFISICOS.idEstadoFisico = BIENES.idEstadoFisico
    -- Se une con CAT_CAUSALBAJA para obtener la descripción de la causal de baja.
    INNER JOIN CAT_CAUSALBAJAS
        ON CAT_CAUSALBAJAS.idCausalBaja = BIENES.idCausalBaja -- Asegúrate que el FK en BIENES sea idCausalBaja
    -- Se une con CAT_DISPOSICIONESFINALES para obtener la descripción de la disposición final.
    INNER JOIN CAT_DISPOSICIONESFINALES
        ON CAT_DISPOSICIONESFINALES.idDisposicionFinal = BIENES.idDisposicionFinal -- Asegúrate que el FK en BIENES sea idDisposicionFinal
    WHERE
		BIENES.FechaBaja IS NOT NULL
		-- Filtra los bienes por su fecha de baja, utilizando el rango de fechas calculado.
        AND BIENES.FechaBaja >= @fechaIni AND BIENES.FechaBaja < DATEADD(day, 1, @fechaFin)
        -- Filtra por la unidad responsable del área donde se dio de baja el bien.
        AND AREAS.IdUnidadResponsable = CASE WHEN @UnidadResponsable = 0 THEN AREAS.IdUnidadResponsable ELSE @UnidadResponsable END
        -- Filtra por el ID de financiamiento. Si @idFinanciamiento es 0, no se aplica este filtro.
        AND FACTURAS.idFinanciamiento = CASE WHEN @idFinanciamiento = 0 THEN FACTURAS.idFinanciamiento ELSE @idFinanciamiento END
        -- Filtra por si el bien aplica UMAS. Si @Umas es 0, no se aplica este filtro.
        AND BIENES.AplicaUMAS = CASE WHEN @Umas = 0 THEN BIENES.AplicaUMAS ELSE @Umas END
        -- Filtra por el área específica asociada al bien en el momento de la baja.
        AND AREAS.idArea = CASE WHEN @IdArea = 0 THEN AREAS.idArea ELSE @IdArea END
    ORDER BY
        CAT_TIPOSBIENES.Clave,
        CAT_BIENES.Clave,
        BIENES.NoInventario;

    SET ROWCOUNT 0;

    EXECUTE PA_ADM_INS_BITACORA
        'S',
        'PA_SEL_ReporteBajasDetallado',
        '',
        @IdGeneral,
        @IdPantalla;
END;