USE [bdInventario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 05/06/2025
	Descripción: Procedimiento Almacenado para la selección de reporte de altas desglosado.
    Lista los detalles de cada bien dado de alta en un periodo específico.
	Desarrollado por: JAIRO MARTINEZ LOPEZ
	PA_SEL_ReporteAltasDesglozado
**********************************************************************************/

ALTER PROCEDURE [dbo].[PA_SEL_ReporteAltasDesglozado]
(
    @IdGeneral AS INT,
    @IdPantalla AS INT,
    @idFinanciamiento AS INT,
    @Anio AS INT = 0,
    @Mes AS INT = 0,
    @UnidadResponsable AS INT = 0,
    @Umas AS BIT = 0
)
AS
BEGIN
    -- Elimina el conteo de registros afectados para mejorar el rendimiento en entornos donde no se necesita.
    SET NOCOUNT ON;

    -- Declaración de variables locales para almacenar el rango de fechas de la consulta.
    DECLARE @fechaInicio AS DATE, @fechaFin AS DATE;

    -- Si @Mes es 0, el reporte es anual. Si @Mes es cualquier otro valor, el reporte es mensual.
    IF (@Mes = 0)
    BEGIN
        -- Si el mes es 0, se establece el rango de fechas para todo el año.
        SET @fechaInicio = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-01-01', 23);
        SET @fechaFin = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-12-31', 23);
    END
    ELSE
    BEGIN
        -- Si se especifica un mes, se establece el rango de fechas para ese mes en el año dado.
        SET @fechaInicio = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(2)) + '-01', 23);
        -- Se obtiene el último día del mes utilizando la función EOMONTH.
        SET @fechaFin = EOMONTH(CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(2)) + '-01', 23));
    END

    -- Inicio de la consulta principal para seleccionar los registros de bienes desglosados.
    SELECT
        CAT_TIPOSBIENES.Clave AS ClaveTipoBien, -- Renombrado para mayor claridad
        CAT_TIPOSBIENES.Nombre AS TipoBienNombre, -- Solo el nombre del tipo de bien
        CAT_BIENES.Clave AS ClaveBien,
		CAT_BIENES.Nombre AS BienDesc,
        'PIEZA' AS Unidad,
        CASE WHEN BIENES.AplicaUMAS = 0 THEN '2' + SUBSTRING(BIENES.NoInventario, 2, 24) ELSE BIENES.NoInventario END AS NoInventario,
        BIENES.Aviso,
        CAT_MARCAS.Nombre AS Marca, 
        BIENES.Serie,
        BIENES.Modelo,
        BIENES.Costo,
        BIENES.FechaAlta,
        BIENES.Observaciones,
        FACTURAS.FolioFiscal,
        FACTURAS.NumeroFactura
    FROM
        BIENES
    -- Se une con la tabla UBICACIONESFISICAS para vincular los bienes a sus ubicaciones físicas,
    -- asegurando que el bien esté activo.
    INNER JOIN UBICACIONESFISICAS
        ON BIENES.idBien = UBICACIONESFISICAS.idBien AND BIENES.Activo = 1
    -- Se une con la tabla TRANSFERENCIAS para obtener los detalles del movimiento (alta).
    INNER JOIN TRANSFERENCIAS
        ON TRANSFERENCIAS.idTransferencia = UBICACIONESFISICAS.idTransferencia
    -- Se une con CAT_BIENES para obtener la clasificación detallada del bien, filtrando por categorías activas.
    INNER JOIN CAT_BIENES
        ON CAT_BIENES.idCatalogoBien = BIENES.idCatalogoBien AND CAT_BIENES.Activo = 1
    -- Se une con AREAS para obtener el área destino de la transferencia.
    INNER JOIN AREAS
        ON AREAS.idArea = TRANSFERENCIAS.idAreaDestino
    -- Se une con CAT_TIPOSBIENES para obtener el tipo general del bien (ej. Mobiliario, Equipo),
    -- utilizado en la clasificación del reporte.
    INNER JOIN CAT_TIPOSBIENES
        ON CAT_TIPOSBIENES.IdTipoBien = CAT_BIENES.IdTipoBien
    -- Se une con CAT_MARCAS para obtener la descripción de la marca del bien.
    INNER JOIN CAT_MARCAS
        ON CAT_MARCAS.idMarca = BIENES.idMarca
    -- Se une con FACTURAS para obtener la información de facturación del bien,
    -- asegurando que la factura sea publicable y activa.
    INNER JOIN FACTURAS
        ON FACTURAS.idFactura = BIENES.idFactura AND FACTURAS.Publicar = 1 AND FACTURAS.Activo = 1
    WHERE
        TRANSFERENCIAS.idAreaOrigen IS NULL
        AND TRANSFERENCIAS.idAreaDestino = CASE WHEN @UnidadResponsable = 1 THEN 649 ELSE 584 END
        AND FACTURAS.idFinanciamiento = CASE WHEN @idFinanciamiento = 0 THEN FACTURAS.idFinanciamiento ELSE @idFinanciamiento END
        AND BIENES.AplicaUMAS = CASE WHEN @Umas = 0 THEN BIENES.AplicaUMAS ELSE @Umas END
        -- Filtra los bienes por su fecha de alta, asegurando que estén dentro del rango de fechas calculado.
        AND BIENES.FechaAlta >= @fechaInicio AND BIENES.FechaAlta < DATEADD(day, 1, @fechaFin)
    ORDER BY
        ClaveTipoBien, -- Ordenar por las nuevas columnas
        ClaveBien,     -- Ordenar por las nuevas columnas
        SUBSTRING(BIENES.NoInventario, 17, 4);

    SET ROWCOUNT 0;

    -- Inserta un registro en la tabla de bitácora para documentar la ejecución de este procedimiento.
    EXECUTE PA_ADM_INS_BITACORA
        'S',
        'PA_SEL_ReporteAltasDesglozado',
        '', 
        @IdGeneral,
        @IdPantalla;
END;