USE [bdInventario]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 22/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA LISTAR BIENES FALTANTES EN UN EVENTO DE INVENTARIO CON FILTROS
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_SEL_BIENES_FALTANTES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_SEL_BIENES_FALTANTES] (
    @idEventoInventario INT, 
    -- Parámetros opcionales para filtros
    @idBien              INT           = NULL,
    @NoInventario        NVARCHAR(50)  = NULL, 
    @NombreMarca         NVARCHAR(100) = NULL, 
    @Serie               NVARCHAR(100) = NULL, 
    @Modelo              NVARCHAR(100) = NULL, 
    @ObservacionesLevantamiento NVARCHAR(MAX) = NULL, 
    @FechaVerificacionDesde DATE       = NULL,
    @FechaVerificacionHasta DATE       = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que idEventoInventario exista en la tabla EVENTOSINVENTARIO
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario)
    BEGIN
        RAISERROR('El ID de Evento de Inventario especificado no existe.', 16, 1);
        RETURN;
    END

    -- Obtener el idArea del evento de inventario actual
    DECLARE @AreaEvento INT;
    SELECT @AreaEvento = idArea FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario;

	DECLARE @NombreAreaTitulo NVARCHAR(200);
	DECLARE @ClaveArea NVARCHAR(50);
	DECLARE @NombreArea NVARCHAR(150);

	SELECT @ClaveArea = Clave,@NombreArea = Nombre FROM AREAS WHERE idArea = @AreaEvento;
	-- Concatena las dos columnas en una sola variable
	SET @NombreAreaTitulo = ISNULL(@ClaveArea, '') + ' - ' + ISNULL(@NombreArea, '');
	
    SELECT @NombreAreaTitulo AS NombreAreaParaTitulo;

    -- CTE para obtener la ubicación más reciente de cada bien
    WITH UltimaUbicacionBien AS (
        SELECT
            UF.idBien,
            T.idAreaDestino AS AreaActualBien,
            ROW_NUMBER() OVER (PARTITION BY UF.idBien ORDER BY UF.FechaTransferencia DESC, UF.FechaCaptura DESC) AS rn
        FROM
            dbo.UBICACIONESFISICAS AS UF
        INNER JOIN
            dbo.TRANSFERENCIAS AS T ON UF.idTransferencia = T.idTransferencia
        WHERE
            UF.Activo = 1
    ),
    -- CTE para obtener los bienes que *deberían* estar en el área del evento
    BienesEsperadosEnArea AS (
        SELECT
            B.idBien,
            B.NoInventario,
			M.idMarca, 
            B.Serie,
            B.Modelo
        FROM
            dbo.BIENES AS B
		INNER JOIN
			dbo.CAT_MARCAS AS M ON M.idMarca = B.idMarca 
        INNER JOIN
            UltimaUbicacionBien AS UUB ON B.idBien = UUB.idBien
        WHERE
            UUB.rn = 1
            AND UUB.AreaActualBien = @AreaEvento
            AND B.Activo = 1
            AND B.Disponibilidad = 1
    )
    SELECT
        BE.idBien,
        BE.NoInventario,
		M.Nombre AS NombreMarca,
        BE.Serie,
        BE.Modelo,
        LI.Observaciones, -- Si existe un registro de levantamiento para el faltante
        LI.FechaVerificacion -- Fecha en que se determinó la falta
    FROM
        BienesEsperadosEnArea AS BE
	INNER JOIN
		dbo.CAT_MARCAS AS M ON M.idMarca = BE.idMarca 
    LEFT JOIN
        dbo.LEVANTAMIENTOSINVENTARIO AS LI ON BE.idBien = LI.idBien AND LI.idEventoInventario = @idEventoInventario
    WHERE
            ((LI.idLevantamientoInventario IS NULL) OR -- Bien esperado pero no hay registro de levantamiento
            (LI.idLevantamientoInventario IS NOT NULL AND LI.ExisteElBien = 0)) -- Bien esperado, levantado pero marcado como no existente
        --Filtros opcionales
        AND (@idBien              IS NULL OR BE.idBien           = @idBien)
        AND (@NoInventario        IS NULL OR BE.NoInventario     LIKE '%' + @NoInventario + '%')
        AND (@NombreMarca         IS NULL OR M.Nombre           LIKE '%' + @NombreMarca + '%')
        AND (@Serie               IS NULL OR BE.Serie            LIKE '%' + @Serie + '%')
        AND (@Modelo              IS NULL OR BE.Modelo           LIKE '%' + @Modelo + '%')
        AND (@ObservacionesLevantamiento IS NULL OR LI.Observaciones LIKE '%' + @ObservacionesLevantamiento + '%')
        AND (@FechaVerificacionDesde IS NULL OR LI.FechaVerificacion >= @FechaVerificacionDesde)
        AND (@FechaVerificacionHasta IS NULL OR LI.FechaVerificacion <= @FechaVerificacionHasta)
    ORDER BY
        BE.NoInventario; -- Se mantiene el orden por número de inventario
END;
GO