USE [bdInventario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE DESARROLLO DE SISTEMAS
	Fecha de Creación: 2025-06-22
	Descripción: PROCEDIMIENTO ALMACENADO PARA REPORTE DE TRANSFERENCIAS DESARROLLADO.
    Este reporte lista el detalle de cada bien transferido en un periodo específico.
	Desarrolló: JAIRO MARTINEZ LOPEZ
	Ejemplo Uso:	PA_SEL_ReporteTransferenciaDesarrollado @IdGeneral=0, @IdPantalla=0, @idFinanciamiento=0, @Anio=2024, @Mes=6, @UnidadRespondable=0, @Umas=0
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_SEL_ReporteTransferenciaDesarrollado]
(
    @IdGeneral          AS INT,
    @IdPantalla         AS INT,
    @idFinanciamiento   AS INT = 0,
    @Anio               AS INT = 0,
    @Mes                AS INT = 0,
    @UnidadResponsable  AS INT = 0,
    @Umas               AS BIT
)
AS
BEGIN
    -- Elimina el conteo de registros afectados para mejorar el rendimiento.
    SET NOCOUNT ON;

    -- Declaración de variables locales para almacenar el rango de fechas de la consulta.
    DECLARE @fechaIni AS DATE, @fechaFin AS DATE;

    -- Lógica para determinar el rango de fechas (mes o año completo) basado en el parámetro @Mes.
    IF (@Mes = 0)
    BEGIN
        SET @fechaIni = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-01-01', 23);
        SET @fechaFin = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-12-31', 23);
    END
    ELSE
    BEGIN
        SET @fechaIni = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(2)) + '-01', 23);
        SET @fechaFin = EOMONTH(CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(4)) + '-01', 23));
    END

    -- Inicio de la consulta principal para seleccionar los registros de bienes desglosados.
    SELECT
        -- Combina la clave y el nombre del tipo de bien para una presentación amigable.
        CAT_TIPOSBIENES.Clave,
		CAT_TIPOSBIENES.Nombre AS NombreTipoBien,
        -- Descripción del bien específico.
		CAT_BIENES.Clave AS ClaveBien,
        CAT_BIENES.Nombre AS BienDesc,
        -- Unidad de medida del bien. Se asume 'PIEZA' si no hay un campo específico.
        'PIEZA' AS Unidad,
        -- Número de inventario del bien. Incluye lógica para ajustar prefijo si no aplica UMAS.
        CASE WHEN BIENES.AplicaUMAS = 0 THEN '2' + SUBSTRING(BIENES.NoInventario, 2, 24) ELSE BIENES.NoInventario END AS NoInventario,
        -- Campo de aviso asociado al bien.
        BIENES.Aviso,
        -- Descripción de la marca del bien.
        CAT_MARCAS.Nombre AS Marca, -- 'Nombre' según ERD para CAT_MARCAS
        -- Número de serie del bien.
        BIENES.Serie,
        -- Modelo del bien.
        BIENES.Modelo,
        -- Costo de adquisición del bien.
        BIENES.Costo,
        -- Fecha en que el bien fue dado de alta en el sistema.
        BIENES.FechaAlta,
        -- Observaciones adicionales sobre el bien.
        BIENES.Observaciones,
        -- Folio fiscal de la factura asociada al bien.
        FACTURAS.FolioFiscal,
        -- Número de factura asociado al bien.
        FACTURAS.NumeroFactura,
        -- Nombre de la adscripción (área) a la que fue transferido el bien.
        UPPER(AREAS.Nombre) AS Adscripcion
    FROM
        BIENES
		-- Se une con UBICACIONESFISICAS para vincular los bienes a sus ubicaciones.
    INNER JOIN UBICACIONESFISICAS
        ON BIENES.idBien = UBICACIONESFISICAS.idBien AND BIENES.Activo = 1 AND UBICACIONESFISICAS.Activo = 1
    -- Se une con TRANSFERENCIAS para obtener los detalles de la transferencia (origen, destino, fecha de transferencia).
    INNER JOIN TRANSFERENCIAS
        ON TRANSFERENCIAS.idTransferencia = UBICACIONESFISICAS.idTransferencia
    -- Se une con CAT_BIENES para acceder a la clasificación del bien, filtrando por categorías activas.
    INNER JOIN CAT_BIENES
        ON CAT_BIENES.idCatalogoBien = BIENES.idCatalogoBien AND CAT_BIENES.Activo = 1
    -- Se une con AREAS para obtener el nombre del área destino de la transferencia.
    INNER JOIN AREAS
        ON AREAS.idArea = TRANSFERENCIAS.idAreaDestino
    -- Se une con CAT_TIPOSBIENES para obtener la clave y nombre del tipo de bien.
    INNER JOIN CAT_TIPOSBIENES
        ON CAT_TIPOSBIENES.IdTipoBien = CAT_BIENES.IdTipoBien
    -- Se une con CAT_MARCAS para obtener la descripción de la marca del bien.
    INNER JOIN CAT_MARCAS
        ON CAT_MARCAS.idMarca = BIENES.idMarca
    -- Se une con FACTURAS para acceder a la información de facturación y aplicar filtros de publicación y actividad.
    INNER JOIN FACTURAS
        ON FACTURAS.idFactura = BIENES.idFactura AND FACTURAS.Publicar = 1 AND FACTURAS.Activo = 1
    WHERE
        TRANSFERENCIAS.idAreaOrigen IS NOT NULL -- Este filtro es crucial para diferenciar de las "Altas"
        AND TRANSFERENCIAS.idAreaOrigen = CASE WHEN @UnidadResponsable = 1 THEN 649 ELSE 584 END
        -- Filtra por el ID de financiamiento. Si @idFinanciamiento es 0, no se aplica este filtro.
        AND FACTURAS.idFinanciamiento = CASE WHEN @idFinanciamiento = 0 THEN FACTURAS.idFinanciamiento ELSE @idFinanciamiento END
        -- Si @Umas es 0, no se aplica este filtro.
        AND BIENES.AplicaUMAS = CASE WHEN @Umas = 0 THEN BIENES.AplicaUMAS ELSE @Umas END
        -- Filtra por la fecha de transferencia, utilizando el rango de fechas calculado.
        AND TRANSFERENCIAS.FechaRegistro >= @fechaIni AND TRANSFERENCIAS.FechaRegistro < DATEADD(day, 1, @fechaFin)
    ORDER BY
        CAT_TIPOSBIENES.Clave,
        CAT_BIENES.Clave,
        SUBSTRING(BIENES.NoInventario, 13, 8); -- Ajustado a BIENES.NoInventario

    SET ROWCOUNT 0;

    -- Inserta un registro en la tabla de bitácora.
    EXECUTE PA_ADM_INS_BITACORA
        'S',
        'PA_SEL_ReporteTransferenciaDesarrollado',
        '', 
        @IdGeneral, -- ID general, usualmente del usuario o proceso que ejecuta
        @IdPantalla; 
END;