USE [bdInventario];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 03/06/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA SELECCIONAR TODOS LOS REGISTROS DE CAT_COLORES Y FILTROS
	Desarrolló: JAIRO MARTINEZ LOPEZ
**********************************************************************************/
ALTER PROCEDURE dbo.PA_SEL_CAT_COLORES
    @idColor     INT           = NULL,
    @clave       NVARCHAR(50)  = NULL,
    @nombre      NVARCHAR(100) = NULL,
    @descripcion NVARCHAR(200) = NULL,
    @activo      BIT           = NULL,
    @bloqueado   BIT           = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        idColor,
        Clave,
        Nombre,
        Descripcion,
        Activo,
        Bloqueado
    FROM dbo.CAT_COLORES
    WHERE
          (@idColor     IS NULL OR idColor   = @idColor)
      AND (@clave       IS NULL OR Clave     LIKE '%' + @clave       + '%')
      AND (@nombre      IS NULL OR Nombre    LIKE '%' + @nombre      + '%')
      AND (@descripcion IS NULL OR Descripcion LIKE '%' + @descripcion + '%')
      AND (@activo      IS NULL OR Activo    = @activo)
      AND (@bloqueado   IS NULL OR Bloqueado = @bloqueado)
    ORDER BY Nombre;
END;
GO