USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_SEL_PROGRESO_INVENTARIO_AREA]    Script Date: 23/05/2025 10:42:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 22/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA CONSULTAR EL PROGRESO DEL INVENTARIO POR ÁREA Y EVENTO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_SEL_PROGRESO_INVENTARIO_AREA
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_SEL_PROGRESO_INVENTARIO_AREA] (
    @idEventoInventario INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que idEventoInventario exista en la tabla EVENTOSINVENTARIO
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario)
    BEGIN
        RAISERROR('El ID de Evento de Inventario especificado no existe.', 16, 1);
        RETURN;
    END

    -- Obtener el idArea del evento de inventario actual
    DECLARE @AreaEvento INT;
    SELECT @AreaEvento = idArea FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario;

    -- CTE para obtener la ubicación más reciente de cada bien
    WITH UltimaUbicacionBien AS (
        SELECT
            UF.idBien,
            T.idAreaDestino AS AreaActualBien,
            ROW_NUMBER() OVER (PARTITION BY UF.idBien ORDER BY UF.FechaTransferencia DESC, UF.FechaCaptura DESC) AS rn
        FROM
            dbo.UBICACIONESFISICAS AS UF
        INNER JOIN
            dbo.TRANSFERENCIAS AS T ON UF.idTransferencia = T.idTransferencia
        WHERE
            UF.Activo = 1 -- Considera solo ubicaciones físicas activas
    ),
    -- CTE para obtener los bienes que *deberían* estar en el área del evento
    BienesEsperadosEnArea AS (
        SELECT
            B.idBien,
            B.NoInventario
        FROM
            dbo.BIENES AS B
        INNER JOIN
            UltimaUbicacionBien AS UUB ON B.idBien = UUB.idBien
        WHERE
            UUB.rn = 1 -- Solo la última ubicación
            AND UUB.AreaActualBien = @AreaEvento -- Bienes cuya última ubicación registrada es el área del evento
            AND B.Activo = 1 -- Solo bienes activos
            --AND B.Disponibilidad = 1 -- Considera bienes que se supone están disponibles para uso/ubicación
    )
    SELECT
        EI.idEventoInventario,
        EI.Folio AS EventoFolio,
        A.idArea,
        A.Nombre AS NombreArea,
        COUNT(DISTINCT BE.idBien) AS TotalBienesAsignadosArea, -- Total de bienes esperados
        SUM(CASE WHEN LI.idLevantamientoInventario IS NOT NULL THEN 1 ELSE 0 END) AS TotalBienesVerificados,
        SUM(CASE WHEN LI.ExisteElBien = 1 THEN 1 ELSE 0 END) AS TotalBienesEncontrados,
        SUM(CASE WHEN LI.ExisteElBien = 0 THEN 1 ELSE 0 END) AS TotalBienesNoEncontrados, -- Faltantes
        -- Cálculo de Porcentaje Verificado (respecto a los bienes esperados)
        ISNULL(CAST(SUM(CASE WHEN LI.idLevantamientoInventario IS NOT NULL THEN 1 ELSE 0 END) * 100.0 / NULLIF(COUNT(DISTINCT BE.idBien), 0) AS DECIMAL(5,2)), 0.00) AS PorcentajeVerificado,
        -- Bienes Faltantes: Se esperaban, pero no fueron encontrados (ExisteElBien = 0)
        SUM(CASE WHEN BE.idBien IS NOT NULL AND LI.idLevantamientoInventario IS NOT NULL AND LI.ExisteElBien = 0 THEN 1 ELSE 0 END) AS CantidadFaltantes,
        -- Bienes Sobrantes: Fueron encontrados (ExisteElBien = 1) pero no estaban en BienesEsperadosEnArea
        SUM(CASE WHEN LI.idLevantamientoInventario IS NOT NULL AND LI.ExisteElBien = 1 AND BE.idBien IS NULL THEN 1 ELSE 0 END) AS CantidadSobrantes
    FROM
        dbo.EVENTOSINVENTARIO AS EI
    INNER JOIN
        dbo.AREAS AS A ON EI.idArea = A.idArea
    LEFT JOIN
        BienesEsperadosEnArea AS BE ON A.idArea = @AreaEvento -- Para unir con los bienes esperados
    LEFT JOIN
        dbo.LEVANTAMIENTOSINVENTARIO AS LI ON LI.idEventoInventario = EI.idEventoInventario AND LI.idBien = BE.idBien
    WHERE
        EI.idEventoInventario = @idEventoInventario
        AND A.idArea = @AreaEvento -- Asegurar que el área del evento es la que estamos consultando
    GROUP BY
        EI.idEventoInventario, EI.Folio, A.idArea, A.Nombre;

    RETURN 0;
END
