USE [bdInventario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE DESARROLLO DE SISTEMAS
	Fecha de Creación: 2025-06-22
	Descripción: PROCEDIMIENTO ALMACENADO PARA REPORTE DE TRANSFERENCIAS CONCENTRADO
    Este reporte suma el costo de los bienes transferidos, agrupados por tipo de bien.
	Desarrolló: JAIRO MARTINEZ LOPEZ
	Ejemplo Uso:	PA_SEL_ReporteTransferenciaConcentrado @IdGeneral=0, @IdPantalla=0, @idFinanciamiento=0, @Anio=2024, @Mes=6, @UnidadRespondable=0, @Umas=0
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_SEL_ReporteTransferenciaConcentrado]
(
    @IdGeneral          AS INT,
    @IdPantalla         AS INT,
    @idFinanciamiento   AS INT,
    @Anio               AS INT,
    @Mes                AS INT,
    @UnidadResponsable  AS INT,
    @Umas               AS BIT
)
AS
BEGIN
    -- Elimina el conteo de registros afectados para mejorar el rendimiento.
    SET NOCOUNT ON;

    -- Declaración de variables locales para almacenar el rango de fechas de la consulta.
    DECLARE @fechaIni AS DATE, @fechaFin AS DATE;

    -- Lógica para determinar el rango de fechas (mes o año completo) basado en el parámetro @Mes.
    IF (@Mes = 0)
    BEGIN
        SET @fechaIni = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-01-01', 23);
        SET @fechaFin = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-12-31', 23);
    END
    ELSE
    BEGIN
        SET @fechaIni = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(2)) + '-01', 23);
        SET @fechaFin = EOMONTH(CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(4)) + '-01', 23));
    END

    -- Consulta principal para seleccionar el concentrado de transferencias.
    SELECT
        CAT_TIPOSBIENES.Clave AS TipoBien,
        CAT_TIPOSBIENES.Nombre,
        -- Suma total del costo de los bienes transferidos en cada grupo.
        SUM(BIENES.Costo) AS Importe
    FROM
        BIENES
    -- Se une con UBICACIONESFISICAS para vincular los bienes a sus ubicaciones.
    INNER JOIN UBICACIONESFISICAS
        ON BIENES.idBien = UBICACIONESFISICAS.idBien AND BIENES.Activo = 1 AND UBICACIONESFISICAS.Activo = 1
    -- Se une con TRANSFERENCIAS, que contiene la información de origen, destino y fecha de la transferencia.
    INNER JOIN TRANSFERENCIAS
        ON TRANSFERENCIAS.idTransferencia = UBICACIONESFISICAS.idTransferencia
    -- Se une con CAT_BIENES para obtener la clasificación detallada del bien.
    INNER JOIN CAT_BIENES
        ON CAT_BIENES.idCatalogoBien = BIENES.idCatalogoBien AND CAT_BIENES.Activo = 1
    -- Se une con AREAS para obtener información del área destino (aunque no se selecciona, se usa en WHERE si aplica).
    INNER JOIN AREAS
        ON AREAS.idArea = TRANSFERENCIAS.idAreaDestino 
    -- Se une con CAT_TIPOSBIENES para obtener la clave y nombre del tipo de bien para la agrupación.
    INNER JOIN CAT_TIPOSBIENES
        ON CAT_TIPOSBIENES.IdTipoBien = CAT_BIENES.IdTipoBien
    -- Se une con CAT_MARCAS (Aunque no se usan columnas, la unión se mantiene si es conceptualmente relevante).
    INNER JOIN CAT_MARCAS
        ON CAT_MARCAS.idMarca = BIENES.idMarca
    -- Se une con FACTURAS para obtener la información de facturación y aplicar filtros.
    INNER JOIN FACTURAS
        ON FACTURAS.idFactura = BIENES.idFactura AND FACTURAS.Publicar = 1 AND FACTURAS.Activo = 1
    WHERE
        TRANSFERENCIAS.idAreaOrigen IS NOT NULL -- Esto diferencia de las "Altas"
        AND TRANSFERENCIAS.idAreaOrigen = CASE WHEN @UnidadResponsable = 1 THEN 649 ELSE 584 END
        -- Filtra por el ID de financiamiento del bien. Si @idFinanciamiento es 0, no se aplica este filtro.
        AND FACTURAS.idFinanciamiento = CASE WHEN @idFinanciamiento = 0 THEN FACTURAS.idFinanciamiento ELSE @idFinanciamiento END
        -- Filtra por si el bien aplica UMAS. Si @Umas es 0, no se aplica este filtro.
        AND BIENES.AplicaUMAS = CASE WHEN @Umas = 0 THEN BIENES.AplicaUMAS ELSE @Umas END
        -- Filtra por la FechaTransferencia de la tabla TRANSFERENCIAS, utilizando el rango de fechas calculado.
        AND TRANSFERENCIAS.FechaRegistro >= @fechaIni AND TRANSFERENCIAS.FechaRegistro < DATEADD(day, 1, @fechaFin)
    GROUP BY
        CAT_TIPOSBIENES.Clave,
        CAT_TIPOSBIENES.Nombre
    ORDER BY
        CAT_TIPOSBIENES.Clave ASC;

    SET ROWCOUNT 0;

    -- Inserta un registro en la tabla de bitácora.
    EXECUTE PA_ADM_INS_BITACORA
        'S',
        'PA_SEL_ReporteTransferenciaConcentrado',
        '',
        @IdGeneral,
        @IdPantalla;
END;