USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_SEL_LEVANTAMIENTOSINVENTARIO_BY_EVENTO]    Script Date: 11/06/2025 06:00:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 05/06/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA SELECCIONAR REGISTROS DE LEVANTAMIENTOSINVENTARIO FILTRADOS POR ID DE EVENTO
	Desarrolló: JAIRO MARTINEZ LOPEZ
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_SEL_LEVANTAMIENTOSINVENTARIO_BY_EVENTO]
    @idEventoInventario INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el idEventoInventario exista
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario)
    BEGIN
        RAISERROR('El ID de Evento de Inventario especificado no existe.', 16, 1);
        RETURN;
    END

    SELECT
        LI.idLevantamientoInventario,
        LI.idBien,
        LI.idEventoInventario,
		B.NoInventario,
		B.Serie,
		B.Modelo,
		-- Anteriormente se seleccionaban los IDs, ahora seleccionamos los nombres
		CC.Nombre AS Color, -- Asumiendo que la columna de nombre es 'NombreColor'
		CM.Nombre AS Marca, -- Asumiendo que la columna de nombre es 'NombreMarca'
        LI.Observaciones,
        LI.ExisteElBien,
        LI.FechaVerificacion,
        LI.FueActualizado
    FROM
        dbo.LEVANTAMIENTOSINVENTARIO AS LI
	INNER JOIN
		dbo.BIENES AS B ON B.idBien = LI.idBien
	INNER JOIN
		dbo.CAT_COLORES AS CC ON B.idColor = CC.idColor
	INNER JOIN
		dbo.CAT_MARCAS AS CM ON B.idMarca = CM.idMarca
    WHERE
        LI.idEventoInventario = @idEventoInventario -- Es mejor usar el alias de la tabla para claridad
    ORDER BY
        idLevantamientoInventario;
END;