USE [bdInventario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE DESARROLLO DE SISTEMAS
	Fecha de Creación: 18/06/25 7:00 p.m.
	Descripción: PROCEDIMIENTO ALMACENADO PARA reporte de concentrado de altas
	Desarrolló: JAIRO MARTINEZ LIOPEZ
	PA_SEL_ReporteAltasConcentrado
**********************************************************************************/

ALTER PROCEDURE [dbo].[PA_SEL_ReporteAltasConcentrado]
    @IdGeneral AS INT,
    @IdPantalla AS INT,
    @idFinanciamiento AS INT,
    @Anio AS INT,
    @Mes AS INT,
    @UnidadResponsable AS INT,
    @Umas AS BIT
AS
BEGIN
    -- Declaración de variables locales para almacenar el rango de fechas de la consulta.
    DECLARE @fechaInicio AS DATE, @fechaFin AS DATE;
    -- Si @Mes es 0, el reporte es anual. Si @Mes es cualquier otro valor, el reporte es mensual.
    IF (@Mes = 0)
    BEGIN
        -- Si el mes es 0, se establece el rango de fechas para todo el año.
        SET @fechaInicio = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-01-01', 23);
        SET @fechaFin = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-12-31', 23);
    END
    ELSE
    BEGIN
        -- Si se especifica un mes, se establece el rango de fechas para ese mes en el año dado.
        SET @fechaInicio = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(2)) + '-01', 23);
        -- Se obtiene el último día del mes utilizando la función EOMONTH.
        SET @fechaFin = EOMONTH(CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + CAST(@Mes AS NVARCHAR(2)) + '-01', 23));
    END

    SELECT
        CAT_TIPOSBIENES.Clave AS TipoBien,
        CAT_TIPOSBIENES.Nombre,
        SUM(BIENES.Costo) AS Importe
    FROM
        BIENES
    -- Se une con la tabla UBICACIONESFISICAS para relacionar los bienes con sus ubicaciones y transferencias,
    -- filtrando por bienes activos.
    INNER JOIN UBICACIONESFISICAS
        ON BIENES.idBien = UBICACIONESFISICAS.idBien AND BIENES.Activo = 1
    -- Se une con la tabla TRANSFERENCIAS para obtener detalles sobre el movimiento de los bienes.
    INNER JOIN TRANSFERENCIAS
        ON TRANSFERENCIAS.idTransferencia = UBICACIONESFISICAS.idTransferencia
    -- Se une con CAT_BIENES para acceder a la clasificación de los bienes, filtrando por bienes activos.
    INNER JOIN CAT_BIENES
        ON CAT_BIENES.idCatalogoBien = BIENES.idCatalogoBien AND CAT_BIENES.Activo = 1
    -- Se une con AREAS para obtener el nombre del área destino de la transferencia.
    INNER JOIN AREAS
        ON AREAS.idArea = TRANSFERENCIAS.idAreaDestino
    -- Se une con CAT_TIPOSBIENES para obtener la clave y descripción del tipo de bien,
    -- que son las columnas principales de agrupación en el reporte.
    INNER JOIN CAT_TIPOSBIENES
        ON CAT_TIPOSBIENES.IdTipoBien = CAT_BIENES.idTipoBien
    -- Se une con FACTURAS para acceder a la información de facturación y aplicar filtros de publicación y actividad.
    INNER JOIN FACTURAS
        ON FACTURAS.idFactura = BIENES.idFactura AND FACTURAS.Publicar = 1 AND FACTURAS.Activo = 1
    WHERE
        TRANSFERENCIAS.idAreaOrigen IS NULL
        AND TRANSFERENCIAS.idAreaDestino = CASE WHEN @UnidadResponsable = 1 THEN 649 ELSE 584 END
        AND FACTURAS.idFinanciamiento = CASE WHEN @idFinanciamiento = 0 THEN FACTURAS.idFinanciamiento ELSE @idFinanciamiento END
        AND BIENES.AplicaUMAS = CASE WHEN @Umas = 0 THEN BIENES.AplicaUMAS ELSE @Umas END
        -- Filtra los bienes por su fecha de alta, asegurando que estén dentro del rango de fechas calculado.
        AND BIENES.FechaAlta >= @fechaInicio AND BIENES.FechaAlta < DATEADD(day, 1, @fechaFin)
    GROUP BY
        CAT_TIPOSBIENES.Clave,
        CAT_TIPOSBIENES.Nombre
    ORDER BY
        CAT_TIPOSBIENES.Clave ASC;
    SET ROWCOUNT 0;
    EXECUTE PA_ADM_INS_BITACORA
        'S',
        'PA_SEL_ReporteAltasConcentrado',
        '',
        @IdGeneral,
        @IdPantalla;
END;