USE [bdInventario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 2025-06-20 (Original)
	Última Modificación: 2025-06-21
	Descripción: Procedimiento Almacenado para la selección de reporte concentrado de bienes dados de baja.
	             Este procedimiento agrupa los bienes dados de baja por tipo, bien y financiamiento,
	             proporcionando una visión consolidada de las bajas dentro de un período específico.
	Desarrollado por: JAIRO MARTINEZ LOPEZ
	PA_SEL_ReporteBajasConcentrado
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_SEL_ReporteBajasConcentrado]
(
    @IdGeneral AS INT,
    @IdPantalla AS INT,
    @idFinanciamiento AS INT = 0,
    @Anio AS INT = 0,
    @Mes AS INT = 0,
    @IdUnidadResponsable AS INT = 0, 
    @IdArea AS INT = 0,              
    @AplicaUMAS AS BIT = 0           
)
AS
BEGIN
    -- Elimina el conteo de registros afectados para mejorar el rendimiento,
    SET NOCOUNT ON;

    -- Declaración de variables locales para almacenar el rango de fechas de la consulta.
    DECLARE @fechaIni AS DATE, @fechaFin AS DATE;

    -- Lógica para determinar el rango de fechas (mes o año completo) basado en el parámetro @Mes.
    -- Si @Mes es 0, el rango es todo el año; de lo contrario, es el mes específico del año.
    IF (@Mes = 0)
    BEGIN
        SET @fechaIni = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-01-01', 23);
        SET @fechaFin = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-12-31', 23);
    END
    ELSE
    BEGIN
        -- Construye la fecha inicial del mes.
        SET @fechaIni = CONVERT(DATE, CAST(@Anio AS NVARCHAR(4)) + '-' + RIGHT('0' + CAST(@Mes AS NVARCHAR(2)), 2) + '-01', 23);
        -- Calcula el último día del mes.
        SET @fechaFin = EOMONTH(@fechaIni);
    END

    -- Los bienes se agrupan por Tipo de Bien, Bien y Financiamiento para un reporte consolidado.
    SELECT
        -- Combina la clave y el nombre del tipo de bien para una descripción completa.
        CAST(TBI.Clave AS NVARCHAR(10)) + ' ' + TBI.Nombre AS TipoBien,
        -- Combina el ID de bien (formato con ceros a la izquierda) y su descripción.
        RIGHT('000' + CONVERT(NVARCHAR(50), CB.Clave), 3) + ' ' + CB.Nombre AS Bien,
        -- Combina el ID y el nombre del financiamiento para identificar la fuente de los fondos.
        FIN.Nombre AS Financiamiento,
        -- Cuenta el número de bienes dados de baja en cada grupo.
        COUNT(B.idBien) AS Cantidad, -- Conteo específico de idBien
        -- Suma el costo de los bienes dados de baja en cada grupo.
        SUM(B.Costo) AS CostoTotal
    FROM
        BIENES AS B
    -- Se une con CAT_BIENES (CB) para obtener la clasificación y descripción del bien.
    -- Se asume que CAT_BIENES.Activo = 1 es una condición general para bienes válidos en el catálogo,
    -- y la baja se determina por BIENES.FechaBaja.
    INNER JOIN CAT_BIENES AS CB
        ON CB.idCatalogoBien = B.idCatalogoBien AND CB.Activo = 1
    -- Se une con FACTURAS (F) para obtener la información de la factura asociada al bien, incluyendo el financiamiento.
    INNER JOIN FACTURAS AS F
        ON F.idFactura = B.idFactura
    -- Se une con CAT_FINANCIAMIENTOS (FIN) para obtener la descripción del financiamiento.
    INNER JOIN CAT_FINANCIAMIENTOS AS FIN
        ON FIN.idFinanciamiento = F.idFinanciamiento
    -- Se une con CAT_TIPOSBIENES (TBI) para obtener la descripción del tipo de bien.
    INNER JOIN CAT_TIPOSBIENES AS TBI
        ON TBI.IdTipoBien = CB.IdTipoBien
	-- Se une con UBICACIONESFISICAS (UF) para obtener la última ubicación física registrada antes de la baja.
    -- Esto es crucial para determinar el área o unidad responsable en el momento de la baja.
    INNER JOIN UBICACIONESFISICAS AS UF
        ON B.idBien = UF.idBien
        AND UF.Activo = 1 -- Se asume que se busca la última ubicación activa
    -- Se une con TRANSFERENCIAS (TR) para obtener los detalles de la transferencia asociada a la ubicación física del bien en el momento de la baja.
    INNER JOIN TRANSFERENCIAS AS TR
        ON TR.idTransferencia = UF.idTransferencia
    -- Se une con AREAS (A) para obtener la unidad responsable y el área específica de la ubicación de destino de la transferencia.
    INNER JOIN AREAS AS A
        ON A.idArea = TR.idAreaDestino
    -- se podría incluir si se requiere filtrar o agrupar por marca.
    -- INNER JOIN CAT_MARCAS AS M ON M.idMarca = B.idMarca

    WHERE
        -- Filtra los bienes que han sido dados de baja (FechaBaja no es NULL).
        B.FechaBaja IS NOT NULL
        -- Filtra los bienes por su fecha de baja, utilizando el rango de fechas calculado (@fechaIni a @fechaFin).
        AND B.FechaBaja >= @fechaIni
        AND B.FechaBaja <= @fechaFin

        -- Filtra por la unidad responsable del área asociada al bien en el momento de la baja.
        AND A.IdUnidadResponsable = CASE WHEN @IdUnidadResponsable = 0 THEN A.IdUnidadResponsable ELSE @IdUnidadResponsable END
        -- Filtra por el ID de financiamiento. Si @idFinanciamiento es 0, no se aplica este filtro.
        AND F.idFinanciamiento = CASE WHEN @idFinanciamiento = 0 THEN F.idFinanciamiento ELSE @idFinanciamiento END
        -- Filtra por si el bien aplica UMAS. Si @AplicaUMAS es 0, no se aplica este filtro.
        -- Si @AplicaUMAS es 1, se filtran solo los bienes que aplican UMAS.
        AND B.AplicaUMAS = CASE WHEN @AplicaUMAS = 0 THEN B.AplicaUMAS ELSE @AplicaUMAS END
        -- Filtra por el área específica asociada al bien en el momento de la baja.
        AND A.idArea = CASE WHEN @IdArea = 0 THEN A.idArea ELSE @IdArea END

    GROUP BY
        TBI.Clave,
        TBI.Nombre,
        CB.Clave,
        CB.Nombre,
        FIN.idFinanciamiento,
        FIN.Nombre
    ORDER BY
        TBI.Clave,
        CB.Clave;

    SET ROWCOUNT 0;

    EXECUTE PA_ADM_INS_BITACORA
        'S',
        'PA_SEL_ReporteBajasConcentrado',
        '', 
        @IdGeneral,
        @IdPantalla;
END;