USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_EVENTOSESTADO]    Script Date: 19/05/2025 04:16:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 19/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UN EVENTO DE ESTADO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_EVENTOSESTADO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_EVENTOSESTADO] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idEventoEstado INT,
    @Nombre NVARCHAR(50),
    @Activo BIT = NULL,
    @Descripcion NVARCHAR(200) = NULL,
    @Clave NVARCHAR(10) = NULL,
    @Bloqueado BIT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del evento de estado existe
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE idEventoEstado = @idEventoEstado)
    BEGIN
        RAISERROR('El ID del evento de estado especificado no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre del evento de estado ya existe para otro evento
    IF EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE Nombre = @Nombre AND idEventoEstado <> @idEventoEstado)
    BEGIN
        RAISERROR('El nombre del evento de estado ya existe para otro evento.', 16, 1);
        RETURN;
    END

    -- Verificar si la nueva clave del evento de estado ya existe para otro evento
    IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE Clave = @Clave AND idEventoEstado <> @idEventoEstado)
    BEGIN
        RAISERROR('La clave del evento de estado ya existe para otro evento.', 16, 1);
        RETURN;
    END

    -- Actualizar el evento de estado
    UPDATE dbo.EVENTOSESTADO
    SET
        Nombre = @Nombre,
        Activo = ISNULL(@Activo, Activo),
        Descripcion = @Descripcion,
        Clave = @Clave,
        Bloqueado = ISNULL(@Bloqueado, Bloqueado)
    WHERE
        idEventoEstado = @idEventoEstado;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.EVENTOSESTADO SET Nombre = ''' + REPLACE(@Nombre, '''', '''''') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'Activo') + ''', Descripcion = ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', Clave = ''' + ISNULL(@Clave, 'NULL') + ''', Bloqueado = ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), 'Bloqueado') + ''' WHERE idEventoEstado = '+CONVERT(NVARCHAR(50),ISNULL(@idEventoEstado,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'EVENTOSESTADO',
        @idEventoEstado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
