USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_FACTURAS]    Script Date: 09/06/2025 09:29:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************
    Elaboró : PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Creación : 25/04/2025   •   Actualización : 13/05/2025
    Descripción : PROCEDIMIENTO ALMACENADO PARA MODIFICAR UNA FACTURA (NAS compatible)
    Desarrolló : JAIRO MARTÍNEZ LÓPEZ
    Nota : se añadió el parámetro opcional @RutaArchivo y la columna RutaArchivo en la
           bitácora, con escapado correcto de comillas.
*******************************/
ALTER PROCEDURE [dbo].[PA_UPD_FACTURAS] 
(
    @idFactura             BIGINT,
    @IdPantalla            INT,
    @IdGeneral             INT,
    @NumeroFactura         NVARCHAR(50),
    @FolioFiscal           NVARCHAR(50),
    @FechaFactura          DATE=NULL,
    @idFinanciamiento      INT=NULL,
    @idUnidadResponsable   INT=NULL,
    @idEstado              INT=NULL,
    @Nota                  NVARCHAR(200)=NULL,
    @Publicar              BIT,
    @Activo                BIT,
    @Archivo               VARBINARY(MAX) = NULL,
    @RutaArchivo           NVARCHAR(260)  = NULL,   -- ← NUEVO
    @CantidadBienes        INT            = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

	-- Validar que idFinanciamiento exista
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_FINANCIAMIENTOS WHERE idFinanciamiento = @idFinanciamiento)
    BEGIN
        RAISERROR('El ID de Financiamiento especificado no existe.', 16, 1);
        RETURN;
    END
	-- Validar que el Nombre no sea nulo o vacío
    IF @NumeroFactura IS NULL OR LTRIM(RTRIM(@NumeroFactura)) = ''
    BEGIN
        RAISERROR('El campo Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END
	-- Verificar si el registro está inactivo
    IF EXISTS (SELECT 1 FROM dbo.FACTURAS WHERE idFactura = @idFactura AND Activo = 0)
    BEGIN
        RAISERROR('La factura que intenta modificar se encuentra inactivo y no puede ser actualizado.', 16, 1);
        RETURN;
    END

    -- Validar que idUnidadResponsable exista
    IF NOT EXISTS (SELECT 1 FROM dbo.UNIDADESRESPONSABLES WHERE idUnidadResponsable = @idUnidadResponsable)
    BEGIN
        RAISERROR('El ID de Unidad Responsable especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que idEstado exista en el catálogo de estados de facturas
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_ESTADOS WHERE idEstado = @idEstado)
    BEGIN
        RAISERROR('El ID de Estado de Factura especificado no es válido o no existe.', 16, 1);
        RETURN;
    END

    /* ---------- Validaciones ---------- */
    IF NOT EXISTS (SELECT 1 FROM dbo.FACTURAS WHERE idFactura = @idFactura)
    BEGIN
        RAISERROR('La factura no existe.', 16, 1);
        RETURN;
    END

    IF @Archivo IS NOT NULL AND @RutaArchivo IS NOT NULL
    BEGIN
        RAISERROR('Proporcione únicamente @Archivo ó @RutaArchivo, no ambos.', 16, 1);
        RETURN;
    END

    IF @NumeroFactura IS NOT NULL
       AND EXISTS (SELECT 1 FROM dbo.FACTURAS
                   WHERE NumeroFactura = @NumeroFactura AND idFactura <> @idFactura)
    BEGIN
        RAISERROR('El número de factura ya existe para otra factura.', 16, 1);
        RETURN;
    END

    /* ---------- Update ---------- */
    UPDATE dbo.FACTURAS
      SET NumeroFactura       = @NumeroFactura,
          FolioFiscal         = @FolioFiscal,
          FechaFactura        = @FechaFactura,
          idFinanciamiento    = @idFinanciamiento,
          idUnidadResponsable = @idUnidadResponsable,
          idEstado            = @idEstado,
          Nota                = @Nota,
          Publicar            = ISNULL(@Publicar, Publicar),
          Activo              = ISNULL(@Activo  , Activo),
          Archivo             = @Archivo,
          RutaArchivo         = @RutaArchivo,
          CantidadBienes      = @CantidadBienes
    WHERE idFactura = @idFactura;

    /* ---------- Bitácora ---------- */
    DECLARE @Consulta NVARCHAR(MAX);

    SET @Consulta = N'
UPDATE dbo.FACTURAS SET
    NumeroFactura       = ' + ISNULL('''' + REPLACE(@NumeroFactura,'''','''''') + '''','''NULL''') + ',
    FolioFiscal         = ' + ISNULL('''' + REPLACE(@FolioFiscal ,'''','''''') + '''','''NULL''') + ',
    FechaFactura        = ' + ISNULL('''' + CONVERT(VARCHAR(10),@FechaFactura,120) + '''','''NULL''') + ',
    idFinanciamiento    = ' + ISNULL(CAST(@idFinanciamiento      AS VARCHAR(10)),'''NULL''') + ',
    idUnidadResponsable = ' + ISNULL(CAST(@idUnidadResponsable   AS VARCHAR(10)),'''NULL''') + ',
    idEstado            = ' + ISNULL(CAST(@idEstado              AS VARCHAR(10)),'''NULL''') + ',
    Nota                = ' + ISNULL('''' + REPLACE(@Nota,'''','''''') + '''','''NULL''') + ',
    Publicar            = ' + ISNULL(CONVERT(VARCHAR(1),@Publicar),'''Publicar''') + ',
    Activo              = ' + ISNULL(CONVERT(VARCHAR(1),@Activo),  '''Activo''') + ',
    Archivo             = ' + CASE WHEN @Archivo IS NULL
                                   THEN '''NULL'''
                                   ELSE '''<VARBINARY>''' END + ',
    RutaArchivo         = ' + ISNULL('''' + @RutaArchivo + '''','''NULL''') + ',
    CantidadBienes      = ' + ISNULL(CAST(@CantidadBienes AS VARCHAR(10)),'''CantidadBienes''') + '
WHERE idFactura = ' + CAST(@idFactura AS NVARCHAR(50));

    EXEC dbo.PA_ADM_INS_BITACORA
        'U', 'FACTURAS', @idFactura,
        @IdGeneral, @IdPantalla, @Consulta;

    RETURN 0;
END
