USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_EVENTOSINVENTARIO]    Script Date: 20/05/2025 08:26:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 20/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UN EVENTO DE INVENTARIO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_EVENTOSINVENTARIO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_EVENTOSINVENTARIO] (
    @IdPantalla INT,
	@IdGeneral INT,
    @IdGeneralAsignado INT,
    @idEventoInventario BIGINT,
    @idArea INT,
    @FechaInicio DATETIME,
    @FechaTermino DATETIME,
    @Folio NVARCHAR(50),
    @Activo BIT = NULL,
    @idEventoEstado INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del evento de inventario existe
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario)
    BEGIN
        RAISERROR('El ID del evento de inventario especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que idEventoEstado exista en la tabla EVENTOSESTADO
    IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSESTADO WHERE idEventoEstado = @idEventoEstado)
    BEGIN
        RAISERROR('No se puede modificar el evento de inventario. El ID de Estado de Evento especificado no existe.', 16, 1);
        RETURN;
    END

	DECLARE @EstadoEvento INT;
	SELECT @EstadoEvento = idEventoEstado FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario;

	IF @EstadoEvento IN (4, 5) -- Asumiendo que 4 y 5 son los IDs de estado "Terminado" o "Finalizado"
	BEGIN
		RAISERROR('No se pueden realizar cambios en este levantamiento de inventario porque el evento asociado ha sido terminado o finalizado.', 16, 1);
		RETURN;
	END

    -- Validar que idArea exista en la tabla AREAS
    IF NOT EXISTS (SELECT 1 FROM dbo.AREAS WHERE idArea = @idArea)
    BEGIN
        RAISERROR('No se puede modificar el evento de inventario. El ID de Área especificado no existe.', 16, 1);
        RETURN;
    END

    -- Validar que el Folio no se repita para otro evento
    IF EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE Folio = @Folio AND idEventoInventario <> @idEventoInventario)
    BEGIN
        RAISERROR('El Folio del evento de inventario ya existe para otro evento.', 16, 1);
        RETURN;
    END

    -- Validar que el idGeneral no tenga asignado otro EVENTOSINVENTARIO en las mismas fechas o que se crucen (excluyendo el evento actual)
    IF EXISTS (
        SELECT 1
        FROM dbo.EVENTOSINVENTARIO
        WHERE idGeneral = @IdGeneralAsignado
          AND idEventoInventario <> @idEventoInventario -- Excluir el registro actual
          AND (
                (@FechaInicio BETWEEN FechaInicio AND FechaTermino) OR
                (@FechaTermino BETWEEN FechaInicio AND FechaTermino) OR
                (FechaInicio BETWEEN @FechaInicio AND @FechaTermino) OR
                (FechaTermino BETWEEN @FechaInicio AND @FechaTermino)
              )
    )
    BEGIN
        RAISERROR('El usuario ya tiene un evento de inventario asignado que se cruza con las fechas proporcionadas.', 16, 1);
        RETURN;
    END

    -- Actualizar el evento de inventario
    UPDATE dbo.EVENTOSINVENTARIO
    SET
        idGeneral = @IdGeneralAsignado,
        idArea = @idArea,
        FechaInicio = @FechaInicio,
        FechaTermino = @FechaTermino,
        Folio = @Folio,
        Activo = ISNULL(@Activo, Activo),
        idEventoEstado = @idEventoEstado
    WHERE
        idEventoInventario = @idEventoInventario;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.EVENTOSINVENTARIO SET idGeneral = ' + CAST(@IdGeneralAsignado AS VARCHAR(10)) + ', idArea = ' + CAST(@idArea AS VARCHAR(10)) + ', FechaInicio = ''' + CONVERT(VARCHAR(30), @FechaInicio, 126) + ''', FechaTermino = ''' + CONVERT(VARCHAR(30), @FechaTermino, 126) + ''', Folio = ''' + REPLACE(@Folio, '''', '''''') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'Activo') + ''', idEventoEstado = ' + CAST(@idEventoEstado AS VARCHAR(10)) + ' WHERE idEventoInventario = ' + CAST(@idEventoInventario AS VARCHAR(20)) + ';';

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'EVENTOSINVENTARIO',
        @idEventoInventario,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
