USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_REGIONES]    Script Date: 07/05/2025 01:23:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 07/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UNA REGIÓN
	Desarrolló: Jairo Martinez Lopez
--  PA_UPD_REGIONES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_REGIONES] (
    @IdPantalla INT,
	@IdGeneralLogueado INT,
    @IdGeneral INT,
    @idRegion INT,
    @Clave VARCHAR(10) = NULL,
    @Nombre VARCHAR(70),
    @Activo BIT = NULL,
    @Bloqueado BIT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de la región existe
    IF NOT EXISTS (SELECT 1 FROM dbo.REGIONES WHERE idRegion = @idRegion)
    BEGIN
        RAISERROR('El ID de la región especificada no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si la nueva clave de la región ya existe para otra región
    IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM dbo.REGIONES WHERE Clave = @Clave AND idRegion <> @idRegion)
    BEGIN
        RAISERROR('La clave de la región ya existe para otra región.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre de la región ya existe para otra región
    IF EXISTS (SELECT 1 FROM dbo.REGIONES WHERE Nombre = @Nombre AND idRegion <> @idRegion)
    BEGIN
        RAISERROR('El nombre de la región ya existe para otra región.', 16, 1);
        RETURN;
    END

    -- Verificar si existe el idGeneral en la tabla Usuarios
    IF NOT EXISTS (SELECT 1 FROM dbo.Usuarios WHERE idGeneral = @IdGeneral)
    BEGIN
        RAISERROR('No se puede modificar la región. El ID de usuario especificado no existe.', 16, 1);
        RETURN;
    END

    -- Actualizar la región
    UPDATE dbo.REGIONES
    SET
        Clave = @Clave,
        Nombre = @Nombre,
        idGeneral = @IdGeneral,
        Activo = ISNULL(@Activo, Activo),
        Bloqueado = ISNULL(@Bloqueado, Bloqueado)
    WHERE
        idRegion = @idRegion;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.REGIONES SET Clave = ''' + ISNULL(@Clave, 'NULL') + 
                ''', Nombre = ''' + ISNULL(@Nombre, 'NULL') + 
                ''', idGeneral = ' + CAST(ISNULL(@IdGeneral, 0) AS VARCHAR) + 
                ', Activo = ' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'NULL') +
                ', Bloqueado = ' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), 'NULL') +
                ' WHERE idRegion = ' + CAST(ISNULL(@idRegion, 0) AS VARCHAR);


    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'REGIONES',
        @idRegion,
        @IdGeneralLogueado,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
