USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_CAT_ESTADOS]    Script Date: 09/06/2025 09:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 25/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UN ESTADO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_CAT_ESTADOS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_CAT_ESTADOS] (
    @idEstado INT,
	@IdPantalla INT,
    @IdGeneral INT,
    @Clave VARCHAR(10)=NULL,
    @Nombre NVARCHAR(50),
    @Descripcion VARCHAR(200)=NULL,
    @Activo BIT=NULL,
    @Bloqueado BIT=NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del estado existe
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_ESTADOS WHERE idEstado = @idEstado)
    BEGIN
        RAISERROR('El ID del estado especificado no existe.', 16, 1);
        RETURN;
    END

	-- Validar que el Nombre no sea nulo o vacío
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El campo Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END
    -- Verificar si el registro está inactivo
    IF EXISTS (SELECT 1 FROM dbo.CAT_ESTADOS WHERE @idEstado = @idEstado AND (Activo = 0 OR Bloqueado = 1))
    BEGIN
        RAISERROR('El Estado que intenta modificar se encuentra inactivo o bloqueado, por lo que no puede ser modificado.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre del estado ya existe para otro estado
    IF EXISTS (SELECT 1 FROM dbo.CAT_ESTADOS WHERE Nombre = @Nombre AND idEstado <> @idEstado)
    BEGIN
        RAISERROR('El nombre del estado ya existe para otro estado.', 16, 1);
        RETURN;
    END

    -- Actualizar el estado
    UPDATE dbo.CAT_ESTADOS
    SET
        Nombre = @Nombre,
        Activo = ISNULL(@Activo, Activo),
        Descripcion = @Descripcion,
        Clave = @Clave,
        Bloqueado = ISNULL(@Bloqueado, Bloqueado)
    WHERE
        idEstado = @idEstado;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.CAT_ESTADOS SET Nombre = ''' + REPLACE(@Nombre, '''', '''''') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'Activo') + ''', Descripcion = ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', Clave = ''' + ISNULL(@Clave, 'NULL') + ''', Bloqueado = ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), 'Bloqueado') + ''' WHERE idEstado = '+CONVERT(NVARCHAR(50),ISNULL(@idEstado,0))

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'CAT_ESTADOS',
        @idEstado,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
