USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPSERT_LEVANTAMIENTOSINVENTARIO_MASIVO]    Script Date: 13/06/2025 06:14:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 13/06/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA INSERTAR O ACTUALIZAR VARIOS LEVANTAMIENTOS DE INVENTARIO DE FORMA MASIVA
	Desarrolló: JAIRO MARTINEZ LOPEZ
-- PA_UPSERT_LEVANTAMIENTOSINVENTARIO_MASIVO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPSERT_LEVANTAMIENTOSINVENTARIO_MASIVO] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idEventoInventario INT,
    @ListaLevantamientos dbo.TipoLevantamientoInventarioMerge READONLY -- Usamos el nuevo TVP
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Declarar la tabla temporal para capturar la salida del MERGE
    DECLARE @MergeOutput TABLE (
        ActionType NVARCHAR(10),
        idLevantamientoInventario BIGINT,
        idBien BIGINT,
        Observaciones NVARCHAR(200),
        ExisteElBien BIT,
        FechaVerificacion SMALLDATETIME,
        FueActualizado BIT
    );

    -- Iniciar el bloque TRY para manejar errores y transacciones
    BEGIN TRY
        BEGIN TRANSACTION; -- Iniciar la transacción

        DECLARE @EstadoEvento INT;
        SELECT @EstadoEvento = idEventoEstado FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario;

        IF @EstadoEvento IN (4, 5) -- Asumiendo que 4 y 5 son los IDs de estado "Terminado" o "Finalizado"
        BEGIN
            RAISERROR('No se pueden realizar cambios en este levantamiento de inventario porque el evento asociado ha sido terminado o finalizado.', 16, 1);
            ROLLBACK TRANSACTION; -- Revertir si el evento ya está terminado/finalizado
            RETURN;
        END

        -- Validar que idEventoInventario exista en la tabla EVENTOSINVENTARIO
        IF NOT EXISTS (SELECT 1 FROM dbo.EVENTOSINVENTARIO WHERE idEventoInventario = @idEventoInventario)
        BEGIN
            RAISERROR('No se puede procesar el levantamiento masivo. El ID de Evento de Inventario especificado no existe.', 16, 1);
            ROLLBACK TRANSACTION; -- Revertir si el evento no existe
            RETURN;
        END

        -- Validar que todos los idBien en la lista existan en la tabla BIENES
        IF EXISTS (
            SELECT L.idBien
            FROM @ListaLevantamientos AS L
            LEFT JOIN dbo.BIENES AS B ON L.idBien = B.idBien
            WHERE B.idBien IS NULL
        )
        BEGIN
            DECLARE @BienesInvalidos NVARCHAR(MAX) = '';
            SELECT @BienesInvalidos = @BienesInvalidos + CAST(L.idBien AS NVARCHAR(20)) + ', '
            FROM @ListaLevantamientos AS L
            LEFT JOIN dbo.BIENES AS B ON L.idBien = B.idBien
            WHERE B.idBien IS NULL;

            SET @BienesInvalidos = LEFT(@BienesInvalidos, LEN(@BienesInvalidos) - 1);
            RAISERROR('No se pueden procesar algunos levantamientos. Los siguientes IDs de Bien no existen: %s', 16, 1, @BienesInvalidos);
            ROLLBACK TRANSACTION; -- Revertir si hay bienes inválidos
            RETURN;
        END

        -- Realizar el MERGE y capturar la salida
        MERGE dbo.LEVANTAMIENTOSINVENTARIO AS target
        USING (
            SELECT
                LL.idBien,
                LL.Observaciones,
                LL.ExisteElBien,
                LL.FechaVerificacion,
                LL.FueActualizado
            FROM
                @ListaLevantamientos AS LL
        ) AS source ON (target.idBien = source.idBien AND target.idEventoInventario = @idEventoInventario)
        WHEN MATCHED THEN -- Si el registro ya existe (idBien y idEventoInventario coinciden)
            UPDATE SET
                target.Observaciones = source.Observaciones,
                target.ExisteElBien = source.ExisteElBien,
                target.FechaVerificacion = GETDATE(),
                target.FueActualizado = ISNULL(source.FueActualizado, 1) -- Siempre 1 si se actualiza
        WHEN NOT MATCHED BY TARGET THEN -- Si el registro no existe, insertarlo
            INSERT (idBien, idEventoInventario, Observaciones, ExisteElBien, FechaVerificacion, FueActualizado)
            VALUES (source.idBien, @idEventoInventario, source.Observaciones, source.ExisteElBien, ISNULL(source.FechaVerificacion, GETDATE()), ISNULL(source.FueActualizado, 0)) -- Siempre 0 si es nueva inserción
       OUTPUT $action AS ActionType, INSERTED.idLevantamientoInventario, INSERTED.idBien, INSERTED.Observaciones, INSERTED.ExisteElBien, INSERTED.FechaVerificacion, INSERTED.FueActualizado INTO @MergeOutput;

        -- Registro en la bitácora para cada inserción/actualización individualmente
        DECLARE @idLevantamientoActual BIGINT;
        DECLARE @idBienActual BIGINT;
        DECLARE @ObservacionesActual NVARCHAR(200);
        DECLARE @ExisteElBienActual BIT;
        DECLARE @FechaVerificacionActual SMALLDATETIME;
        DECLARE @FueActualizadoActual BIT;
        DECLARE @ActionTypeActual NVARCHAR(10);
        DECLARE @ConsultaLogActual NVARCHAR(MAX);
        DECLARE @OperacionBitacora CHAR(1);

        DECLARE @CursorMergeOutput CURSOR;
        SET @CursorMergeOutput = CURSOR LOCAL FORWARD_ONLY STATIC READ_ONLY FOR
        SELECT ActionType, idLevantamientoInventario, idBien, Observaciones, ExisteElBien, FechaVerificacion, FueActualizado
        FROM @MergeOutput;

        OPEN @CursorMergeOutput;
        FETCH NEXT FROM @CursorMergeOutput INTO @ActionTypeActual, @idLevantamientoActual, @idBienActual, @ObservacionesActual, @ExisteElBienActual, @FechaVerificacionActual, @FueActualizadoActual;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF @ActionTypeActual = 'INSERT'
            BEGIN
                SET @OperacionBitacora = 'I';
                SET @ConsultaLogActual = 'INSERT INTO LEVANTAMIENTOSINVENTARIO (idBien, idEventoInventario, Observaciones, ExisteElBien, FechaVerificacion, FueActualizado) VALUES (' + CAST(@idBienActual AS VARCHAR(20)) + ', ' + CAST(@idEventoInventario AS VARCHAR(10)) + ', ''' + ISNULL(@ObservacionesActual, '') + ''', ' + CAST(@ExisteElBienActual AS VARCHAR(1)) + ', ''' + CONVERT(NVARCHAR(20), @FechaVerificacionActual, 120) + ''', ' + CAST(@FueActualizadoActual AS VARCHAR(1)) + ');';
            END
            ELSE IF @ActionTypeActual = 'UPDATE'
            BEGIN
                SET @OperacionBitacora = 'U';
                SET @ConsultaLogActual = 'UPDATE LEVANTAMIENTOSINVENTARIO SET Observaciones = ''' + ISNULL(@ObservacionesActual, '') + ''', ExisteElBien = ' + CAST(@ExisteElBienActual AS VARCHAR(1)) + ', FechaVerificacion = ''' + CONVERT(NVARCHAR(20), @FechaVerificacionActual, 120) + ''', FueActualizado = ' + CAST(@FueActualizadoActual AS VARCHAR(1)) + ' WHERE idLevantamientoInventario = ' + CAST(@idLevantamientoActual AS VARCHAR(20)) + ';';
            END
            ELSE
            BEGIN
                -- Manejar otros tipos de acción si MERGE puede generarlos (DELETE en este caso no aplica)
                SET @OperacionBitacora = 'M'; -- O cualquier otro código que uses para MERGE genérico
                SET @ConsultaLogActual = 'MERGE LEVANTAMIENTOSINVENTARIO (id=' + CAST(@idLevantamientoActual AS VARCHAR(20)) + ', bien=' + CAST(@idBienActual AS VARCHAR(20)) + ') - ' + @ActionTypeActual + ' processed.';
            END

            EXEC dbo.PA_ADM_INS_BITACORA
                @OperacionBitacora,
                'LEVANTAMIENTOSINVENTARIO', -- Nombre de la tabla individual
                @idLevantamientoActual,    -- idReferencia: el id del levantamiento
                @IdGeneral,
                @IdPantalla,
                @ConsultaLogActual;

            FETCH NEXT FROM @CursorMergeOutput INTO @ActionTypeActual, @idLevantamientoActual, @idBienActual, @ObservacionesActual, @ExisteElBienActual, @FechaVerificacionActual, @FueActualizadoActual;
        END

        CLOSE @CursorMergeOutput;
        DEALLOCATE @CursorMergeOutput;

        COMMIT TRANSACTION; -- Confirmar todos los cambios si todo fue exitoso
        RETURN 0;

    END TRY
    BEGIN CATCH
        -- Si ocurre algún error, se ejecuta este bloque
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION; -- Revertir todos los cambios si hay una transacción abierta

        -- Propagar el error original
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        RETURN 1; -- Retornar un código de error
    END CATCH
END;