USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_CAT_DISPOSICIONESFINALES]    Script Date: 09/06/2025 09:22:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 23/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UNA DISPOSICIÓN FINAL
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_CAT_DISPOSICIONESFINALES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_CAT_DISPOSICIONESFINALES] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idDisposicionFinal INT,
	@Clave VARCHAR(10)=NULL,
    @Nombre NVARCHAR(200),
    @Descripcion VARCHAR(10)=NULL,
	@Activo BIT=NULL,
    @Bloqueado BIT=NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de la disposición final existe
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_DISPOSICIONESFINALES WHERE idDisposicionFinal = @idDisposicionFinal)
    BEGIN
        RAISERROR('El ID de la disposición final especificada no existe.', 16, 1);
        RETURN;
    END

	-- Validar que el Nombre no sea nulo o vacío
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El campo Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END
    -- Verificar si el registro está inactivo
    IF EXISTS (SELECT 1 FROM dbo.CAT_DISPOSICIONESFINALES WHERE idDisposicionFinal = @idDisposicionFinal AND (Activo = 0 OR Bloqueado = 1))
    BEGIN
        RAISERROR('La disposición final que intenta modificar se encuentra inactivo o bloqueado, por lo que no puede ser modificado.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre de la disposición final ya existe para otra disposición final
    IF EXISTS (SELECT 1 FROM dbo.CAT_DISPOSICIONESFINALES WHERE Nombre = @Nombre AND idDisposicionFinal <> @idDisposicionFinal)
    BEGIN
        RAISERROR('El nombre de la disposición final ya existe para otra disposición final.', 16, 1);
        RETURN;
    END

    -- Actualizar la disposición final
    UPDATE dbo.CAT_DISPOSICIONESFINALES
    SET
        Nombre = @Nombre,
        Activo = ISNULL(@Activo, Activo),
        Descripcion = @Descripcion,
        Clave = @Clave,
        Bloqueado = ISNULL(@Bloqueado, Bloqueado)
    WHERE
        idDisposicionFinal = @idDisposicionFinal;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.CAT_DISPOSICIONESFINALES SET Nombre = ''' + REPLACE(@Nombre, '''', '''''') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'Activo') + ''', Descripcion = ''' + ISNULL(@Descripcion, 'NULL') + ''', Clave = ''' + ISNULL(@Clave, 'NULL') + ''', Bloqueado = ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), 'Bloqueado') + ''' WHERE idDisposicionFinal = '+CONVERT(NVARCHAR(50),ISNULL(@idDisposicionFinal,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'CAT_DISPOSICIONESFINALES',
        @idDisposicionFinal,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
