USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_CAT_FINANCIAMIENTOS]    Script Date: 09/06/2025 09:25:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 25/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UN FINANCIAMIENTO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_CAT_FINANCIAMIENTOS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_CAT_FINANCIAMIENTOS] (
    @idFinanciamiento INT,
	@IdPantalla INT,
    @IdGeneral INT,
	@Clave VARCHAR(10)=NULL,
    @Nombre NVARCHAR(150),
    @Descripcion VARCHAR(255)=NULL,
    @Activo BIT=NULL,
    @Bloqueado BIT=NULL
)
AS
BEGIN
    SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM dbo.CAT_FINANCIAMIENTOS WHERE idFinanciamiento = @idFinanciamiento AND (Activo = 0 OR Bloqueado = 0))
	BEGIN 
		RAISERROR('Este tipo de financiamiento está inactivo o bloqueado por lo que no se puede modificar.',16 , 1);
		RETURN;
	END
    -- Verificar si el ID del financiamiento existe
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_FINANCIAMIENTOS WHERE idFinanciamiento = @idFinanciamiento)
    BEGIN
        RAISERROR('El ID del financiamiento especificado no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre del financiamiento ya existe para otro financiamiento
    IF EXISTS (SELECT 1 FROM dbo.CAT_FINANCIAMIENTOS WHERE Nombre = @Nombre AND idFinanciamiento <> @idFinanciamiento)
    BEGIN
        RAISERROR('El nombre del financiamiento ya existe para otro financiamiento.', 16, 1);
        RETURN;
    END

    -- Actualizar el financiamiento
    UPDATE dbo.CAT_FINANCIAMIENTOS
    SET
        Nombre = @Nombre,
        Activo = ISNULL(@Activo, Activo),
        Descripcion = @Descripcion,
        Clave = @Clave,
        Bloqueado = ISNULL(@Bloqueado, Bloqueado)
    WHERE
        idFinanciamiento = @idFinanciamiento;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.CAT_FINANCIAMIENTOS SET Nombre = ''' + REPLACE(@Nombre, '''', '''''') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'Activo') + ''', Descripcion = ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', Clave = ''' + ISNULL(@Clave, 'NULL') + ''', Bloqueado = ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), 'Bloqueado') + ''' WHERE idFinanciamiento = '+CONVERT(NVARCHAR(50),ISNULL(@idFinanciamiento,0))

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'CAT_FINANCIAMIENTOS',
        @idFinanciamiento,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
