USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_CAT_BIENES]    Script Date: 09/06/2025 09:20:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 24/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UN BIEN
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_CAT_BIENES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_CAT_BIENES] (
    @idCatalogoBien INT,
	@IdPantalla INT,
    @IdGeneral INT,
	@Clave INT=NULL,
    @idTipoBien INT,
    @Nombre NVARCHAR(200),
    @Descripcion VARCHAR(255)=NULL,
    @Activo BIT=NULL,
    @Bloqueado BIT=NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del bien existe
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_BIENES WHERE idCatalogoBien = @idCatalogoBien)
    BEGIN
        RAISERROR('El ID del catalogo bien especificado no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre del bien ya existe para el mismo tipo de bien (para otro bien)
    IF EXISTS (SELECT 1 FROM dbo.CAT_BIENES WHERE Nombre = @Nombre AND idTipoBien = @idTipoBien AND idCatalogoBien <> @idCatalogoBien)
    BEGIN
        RAISERROR('El nombre del catalogo de bien ya existe para este tipo de bien.', 16, 1);
        RETURN;
    END

    -- Actualizar el bien
    UPDATE dbo.CAT_BIENES
    SET
        idTipoBien = @idTipoBien,
        Nombre = @Nombre,
        Clave = @Clave,
        Activo = ISNULL(@Activo, Activo),
        Descripcion = @Descripcion,
        Bloqueado = ISNULL(@Bloqueado, Bloqueado)
    WHERE
        idCatalogoBien = @idCatalogoBien;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.CAT_BIENES SET idTipoBien = ' + CAST(@idTipoBien AS VARCHAR(10)) +
                ', Nombre = ''' + REPLACE(@Nombre, '''', '''''') + '''' +
                ', Clave = ' + ISNULL(CAST(@Clave AS VARCHAR(10)), 'NULL') +
                ', Activo = ' + ISNULL(CAST(@Activo AS VARCHAR(1)), 'NULL') +
                ', Descripcion = ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + '''' +
                ', Bloqueado = ' + ISNULL(CAST(@Bloqueado AS VARCHAR(1)), 'NULL') +
                ' WHERE idCatalogoBien = ' + CONVERT(NVARCHAR(50), ISNULL(@idCatalogoBien, 0));


    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'CAT_BIENES',
        @idCatalogoBien,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
