USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_LEVANTAMIENTOSINVENTARIO]    Script Date: 23/05/2025 10:41:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 22/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA ACTUALIZAR UN REGISTRO DE LEVANTAMIENTO DE INVENTARIO
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_LEVANTAMIENTOSINVENTARIO
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_LEVANTAMIENTOSINVENTARIO] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idLevantamientoInventario BIGINT,
    @Observaciones NVARCHAR(MAX) = NULL,
    @ExisteElBien BIT = NULL,
    @FechaVerificacion DATETIME = NULL,
    @FueActualizado BIT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del levantamiento de inventario existe
    IF NOT EXISTS (SELECT 1 FROM dbo.LEVANTAMIENTOSINVENTARIO WHERE idLevantamientoInventario = @idLevantamientoInventario)
    BEGIN
        RAISERROR('El ID de levantamiento de inventario especificado no existe.', 16, 1);
        RETURN;
    END
	
	DECLARE @idEventoInventarioRelacionado INT;
    DECLARE @EstadoEvento INT;

    SELECT
        @idEventoInventarioRelacionado = LI.idEventoInventario,
        @EstadoEvento = EI.idEventoEstado
    FROM
        dbo.LEVANTAMIENTOSINVENTARIO AS LI
    INNER JOIN
        dbo.EVENTOSINVENTARIO AS EI ON LI.idEventoInventario = EI.idEventoInventario
    WHERE
        LI.idLevantamientoInventario = @idLevantamientoInventario;

    -- Validar que se encontró el evento asociado
    IF @idEventoInventarioRelacionado IS NULL
    BEGIN
        RAISERROR('No se pudo encontrar el evento de inventario asociado a este levantamiento.', 16, 1);
        RETURN;
    END

    -- Validar el estado del evento (si es 4 o 5, no permitir cambios)
    IF @EstadoEvento IN (4, 5) -- Asumiendo que 4 y 5 son los IDs de estado "Terminado" o "Finalizado"
    BEGIN
        RAISERROR('No se pueden realizar cambios en este levantamiento de inventario porque el evento asociado ha sido terminado o finalizado.', 16, 1);
        RETURN;
    END

    -- Actualizar el registro de levantamiento de inventario
    UPDATE dbo.LEVANTAMIENTOSINVENTARIO
    SET
        Observaciones = ISNULL(@Observaciones, Observaciones),
        ExisteElBien = ISNULL(@ExisteElBien, ExisteElBien),
        FechaVerificacion = ISNULL(@FechaVerificacion, FechaVerificacion),
        FueActualizado = ISNULL(@FueActualizado, FueActualizado)
    WHERE
        idLevantamientoInventario = @idLevantamientoInventario;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.LEVANTAMIENTOSINVENTARIO SET Observaciones = ''' + ISNULL(REPLACE(@Observaciones, '''', ''''''), 'Observaciones') + ''', ExisteElBien = ''' + ISNULL(CONVERT(VARCHAR(1), @ExisteElBien), 'ExisteElBien') + ''', FechaVerificacion = ''' + ISNULL(CONVERT(VARCHAR(30), @FechaVerificacion, 126), 'FechaVerificacion') + ''', FueActualizado = ''' + ISNULL(CONVERT(VARCHAR(1), @FueActualizado), 'FueActualizado') + ''' WHERE idLevantamientoInventario = ' + CAST(@idLevantamientoInventario AS VARCHAR(20)) + ';';

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'LEVANTAMIENTOSINVENTARIO',
        @idLevantamientoInventario,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
