USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_BIENES]    Script Date: 05/05/2025 03:08:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 05/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UN BIEN
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_BIENES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_BIENES] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idBien BIGINT,
    @idColor INT = NULL,
    @FechaRegistro DATETIME = NULL,
    @FechaAlta DATE = NULL,
    @Aviso NVARCHAR(50) = NULL,
    @Serie NVARCHAR(50) = NULL,
    @Modelo NVARCHAR(100) = NULL,
    @idEstadoFisico INT = NULL,
    @idMarca INT = NULL,
    @Costo FLOAT = NULL,
    @Etiquetado BIT = NULL,
    @FechaEtiquetado DATE = NULL,
    @Activo BIT = NULL,
    @Disponibilidad BIT = NULL,
    @FechaBaja DATE = NULL,
    @idCausalBaja INT = NULL,
    @idDisposicionFinal INT = NULL,
    @idFactura BIGINT=NULL,
    @NoInventario NVARCHAR(30) = NULL,
    @idCatalogoBien INT,
    @Observaciones NVARCHAR(400) = NULL,
    @AplicaUMAS BIT = NULL,
    @Salida NVARCHAR(15) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del bien existe
    IF NOT EXISTS (SELECT 1 FROM dbo.BIENES WHERE idBien = @idBien)
    BEGIN
        RAISERROR('El ID del bien especificado no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el registro está inactivo
    IF EXISTS (SELECT 1 FROM dbo.BIENES WHERE idBien = @idBien AND Activo = 0)
    BEGIN
        RAISERROR('El bien que intenta modificar se encuentra inactivo y no puede ser actualizado.', 16, 1);
        RETURN;
    END

    -- Obtener la cantidad máxima de bienes permitidos por factura (si existe en la tabla FACTURAS)
    DECLARE @CantidadMaximaBienes INT;
    SELECT @CantidadMaximaBienes = CantidadBienes
    FROM dbo.FACTURAS
    WHERE idFactura = @idFactura;

    -- Si se define una cantidad máxima, verificar si al modificar no se excede
    IF @CantidadMaximaBienes IS NOT NULL AND (SELECT COUNT(*) FROM dbo.BIENES WHERE idFactura = @idFactura AND idBien <> @idBien) >= @CantidadMaximaBienes
    BEGIN
        RAISERROR('No se pueden asociar más bienes a la factura. Se ha alcanzado la cantidad máxima permitida.', 16, 1);
        RETURN;
    END

    -- Actualizar el bien
    UPDATE dbo.BIENES
    SET
        idColor = @idColor,
        FechaRegistro = ISNULL(@FechaRegistro, FechaRegistro),
        FechaAlta = @FechaAlta,
        Aviso = @Aviso,
        Serie = @Serie,
        Modelo = @Modelo,
        idEstadoFisico = @idEstadoFisico,
        idMarca = @idMarca,
        Costo = @Costo,
        Etiquetado = @Etiquetado,
        FechaEtiquetado = @FechaEtiquetado,
        Activo = ISNULL(@Activo, Activo),
        Disponibilidad = ISNULL(@Disponibilidad, Disponibilidad),
        FechaBaja = @FechaBaja,
        idCausalBaja = @idCausalBaja,
        idDisposicionFinal = @idDisposicionFinal,
        idFactura = @idFactura,
        NoInventario = @NoInventario,
        idCatalogoBien = @idCatalogoBien,
        Observaciones = @Observaciones,
        AplicaUMAS = @AplicaUMAS,
        Salida = @Salida
    WHERE
        idBien = @idBien;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.BIENES SET idColor = ' + ISNULL(CAST(@idColor AS VARCHAR(10)), 'NULL') + ', FechaRegistro = ''' + CONVERT(VARCHAR(30), ISNULL(@FechaRegistro, GETDATE()), 126) + ''', FechaAlta = ''' + ISNULL(CONVERT(VARCHAR(10), @FechaAlta, 120), 'NULL') + ''', Aviso = ''' + ISNULL(@Aviso, 'NULL') + ''', Serie = ''' + ISNULL(@Serie, 'NULL') + ''', Modelo = ''' + ISNULL(@Modelo, 'NULL') + ''', idEstadoFisico = ' + ISNULL(CAST(@idEstadoFisico AS VARCHAR(10)), 'NULL') + ', idMarca = ' + ISNULL(CAST(@idMarca AS VARCHAR(10)), 'NULL') + ', Costo = ' + ISNULL(CAST(@Costo AS VARCHAR(20)), 'NULL') + ', Etiquetado = ''' + ISNULL(CONVERT(VARCHAR(1), @Etiquetado), 'NULL') + ''', FechaEtiquetado = ''' + ISNULL(CONVERT(VARCHAR(10), @FechaEtiquetado, 120), 'NULL') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'Activo') + ''', Disponibilidad = ''' + ISNULL(CONVERT(VARCHAR(1), @Disponibilidad), 'Disponibilidad') + ''', FechaBaja = ''' + ISNULL(CONVERT(VARCHAR(10), @FechaBaja, 120), 'NULL') + ''', idCausalBaja = ' + ISNULL(CAST(@idCausalBaja AS VARCHAR(10)), 'NULL') + ', idDisposicionFinal = ' + ISNULL(CAST(@idDisposicionFinal AS VARCHAR(10)), 'NULL') + ', idFactura = ' + CAST(@idFactura AS VARCHAR(20)) + ', NoInventario = ''' + ISNULL(@NoInventario, 'NULL') + ''', idCatalogoBien = ' + CAST(@idCatalogoBien AS VARCHAR(10)) + ', Observaciones = ''' + ISNULL(REPLACE(@Observaciones, '''', ''''''), 'NULL') + ''', AplicaUMAS = ''' + ISNULL(CONVERT(VARCHAR(1), @AplicaUMAS), 'NULL') + ''', Salida = ''' + ISNULL(@Salida, 'NULL') + ''' WHERE idBien = '+CONVERT(NVARCHAR(50),ISNULL(@idBien,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'BIENES',
        @idBien,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
