USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_UBICACIONFISICA]    Script Date: 17/05/2025 12:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************
    Elaboró:  PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
    Fecha de Creación: 09/05/2025
    Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UNA UBICACIÓN
    Desarrolló:  JAIRO MARTINEZ LOPEZ
--  PA_UPD_UBICACIONESFISICAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_UBICACIONFISICA] (
    @idUbicacionFisica INT,
	@idBien INT,
    @FechaTransferencia DATETIME,
    @idTransferencia INT,
    @IdPantalla INT,
    @IdGeneral INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de UbicacionFisica existe
    IF NOT EXISTS (SELECT 1 FROM dbo.UBICACIONESFISICAS WHERE idUbicacionFisica = @idUbicacionFisica)
    BEGIN
        RAISERROR('El ID de UbicacionFisica especificado no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el registro está inactivo
    IF EXISTS (SELECT 1 FROM dbo.UBICACIONESFISICAS WHERE idUbicacionFisica = @idUbicacionFisica AND Activo = 0)
    BEGIN
        RAISERROR('El la ubicación que intenta asignar se encuentra inactivo y no puede ser actualizado.', 16, 1);
        RETURN;
    END

    -- Verificar si el ID de Transferencia existe
    IF NOT EXISTS (SELECT 1 FROM dbo.TRANSFERENCIAS WHERE idTransferencia = @idTransferencia OR @idTransferencia IS NULL)
    BEGIN
        RAISERROR('El ID de Transferencia especificado no existe. No se puede crear la ubicación física sin una transferencia válida.', 16, 1);
        RETURN;
    END


    UPDATE dbo.UBICACIONESFISICAS
    SET
		idBien = @idBien,
        idTransferencia = @idTransferencia,
        FechaTransferencia = @FechaTransferencia
    WHERE
        idUbicacionFisica = @idUbicacionFisica;

    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.UBICACIONESFISICAS SET idBien = ' + CAST(@idBien AS VARCHAR(10)) + ', idTransferencia = ' + CAST(@idTransferencia AS VARCHAR(10)) + ', FechaTransferencia = ''' + CONVERT(VARCHAR(10), @FechaTransferencia, 120) + ''' WHERE idUbicacionFisica = ' + CAST(@idUbicacionFisica AS VARCHAR(10)) + ';';

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'UBICACIONESFISICAS',
        @idUbicacionFisica,
        @idGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END;
