USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_AREAS]    Script Date: 07/05/2025 12:20:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 07/05/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UN ÁREA
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_AREAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_AREAS] (
    @IdPantalla INT,
    @IdGeneral INT,
    @idArea INT,
    @Clave NVARCHAR(20) = NULL,
    @Nombre NVARCHAR(200),
    @Direccion NVARCHAR(500) = NULL,
    @idAreaPadre INT = NULL,
    @Activo BIT = NULL,
    @IdUnidadResponsable INT,
    @PermitirEntradas BIT = NULL,
    @PermitirSalidas BIT = NULL,
    @idRegion INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del área existe
    IF NOT EXISTS (SELECT 1 FROM dbo.AREAS WHERE idArea = @idArea)
    BEGIN
        RAISERROR('El ID del área especificado no existe.', 16, 1);
        RETURN;
    END

	-- Validar que el Nombre no sea nulo o vacío
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El Nombre del estado físico es un campo obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END

    -- Verificar si el registro está inactivo
    IF EXISTS (SELECT 1 FROM dbo.AREAS WHERE idArea = @idArea AND Activo = 0)
    BEGIN
        RAISERROR('El estado físico que intenta modificar se encuentra inactivo y no puede ser actualizado.', 16, 1);
        RETURN;
    END

    -- Verificar si la nueva clave del área ya existe para otra área
    IF @Clave IS NOT NULL AND EXISTS (SELECT 1 FROM dbo.AREAS WHERE Clave = @Clave AND idArea <> @idArea)
    BEGIN
        RAISERROR('La clave del área ya existe para otra área.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre del área ya existe para otra área
    IF EXISTS (SELECT 1 FROM dbo.AREAS WHERE Nombre = @Nombre AND idArea <> @idArea)
    BEGIN
        RAISERROR('El nombre del área ya existe para otra área.', 16, 1);
        RETURN;
    END

	 -- Verificar si existe el idRegion en la tabla REGIONES
    IF NOT EXISTS (SELECT 1 FROM dbo.REGIONES WHERE idRegion = @idRegion)
    BEGIN
        RAISERROR('No se puede modificar el área. El ID de región especificado no existe.', 16, 1);
        RETURN;
    END

    -- Actualizar el área
    UPDATE dbo.AREAS
    SET
        Clave = @Clave,
        Nombre = @Nombre,
        Direccion = @Direccion,
        idAreaPadre = @idAreaPadre,
        Activo = ISNULL(@Activo, Activo),
        IdUnidadResponsable = @IdUnidadResponsable,
        PermitirEntradas = ISNULL(@PermitirEntradas, PermitirEntradas),
        PermitirSalidas = ISNULL(@PermitirSalidas, PermitirSalidas),
        idRegion = @idRegion
    WHERE
        idArea = @idArea;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.AREAS SET Clave = ''' + ISNULL(@Clave, 'NULL') + ''', Nombre = ''' + REPLACE(@Nombre, '''', '''''') + ''', Direccion = ''' + ISNULL(REPLACE(@Direccion, '''', ''''''), 'NULL') + ''', idAreaPadre = ' + ISNULL(CAST(@idAreaPadre AS VARCHAR(10)), 'NULL') + ', Activo = ' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'NULL') + ', IdUnidadResponsable = ' + CAST(@IdUnidadResponsable AS VARCHAR(10)) + ', PermitirEntradas = ' + ISNULL(CONVERT(VARCHAR(1), @PermitirEntradas), 'NULL') + ', PermitirSalidas = ' + ISNULL(CONVERT(VARCHAR(1), @PermitirSalidas), 'NULL') + ', idRegion = ' + CAST(@idRegion AS VARCHAR(10)) + ' WHERE idArea = ' + CONVERT(NVARCHAR(50), ISNULL(@idArea, 0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'AREAS',
        @idArea,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
