USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_CAT_TIPOSBIENES]    Script Date: 09/06/2025 09:26:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 23/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UN TIPO DE BIEN
	Desarrolló: Gemini AI
--  PA_UPD_CAT_TIPOSBIENES
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_CAT_TIPOSBIENES] (
    @idTipoBien INT,
	@IdPantalla INT,
    @IdGeneral INT,
    @Clave INT=NULL,
    @Nombre NVARCHAR(200),
	@Descripcion VARCHAR(255)=NULL,
    @Activo BIT=NULL,
    @Bloqueado BIT=NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID del tipo de bien existe
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_TIPOSBIENES WHERE idTipoBien = @idTipoBien)
    BEGIN
        RAISERROR('El ID del tipo de bien especificado no existe.', 16, 1);
        RETURN;
    END
	-- Validar que el Nombre no sea nulo o vacío
    IF @Nombre IS NULL OR LTRIM(RTRIM(@Nombre)) = ''
    BEGIN
        RAISERROR('El campo Nombre es obligatorio y no puede estar vacío.', 16, 1);
        RETURN;
    END
    -- Verificar si el registro está inactivo
    IF EXISTS (SELECT 1 FROM dbo.CAT_TIPOSBIENES WHERE idTipoBien = @idTipoBien AND (Activo = 0 OR Bloqueado = 1))
    BEGIN
        RAISERROR('El Catalogo de Financiamiento que intenta modificar se encuentra inactivo o bloqueado, por lo que no puede ser modificado.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre del tipo de bien ya existe para otro tipo de bien
    IF EXISTS (SELECT 1 FROM dbo.CAT_TIPOSBIENES WHERE Nombre = @Nombre AND idTipoBien <> @idTipoBien)
    BEGIN
        RAISERROR('El nombre del tipo de bien ya existe para otro tipo de bien.', 16, 1);
        RETURN;
    END

    -- Actualizar el tipo de bien
    UPDATE dbo.CAT_TIPOSBIENES
    SET
        Clave = @Clave,
        Nombre = @Nombre,
        Activo = ISNULL(@Activo, Activo),
        Descripcion = @Descripcion,
        Bloqueado = ISNULL(@Bloqueado, Bloqueado)
    WHERE
        idTipoBien = @idTipoBien;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.CAT_TIPOSBIENES SET Clave = ' + ISNULL(CAST(@Clave AS VARCHAR(10)), 'NULL') + ', Nombre = ''' + REPLACE(@Nombre, '''', '''''') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'Activo') + ''', Descripcion = ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', Bloqueado = ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), 'Bloqueado') + ''' WHERE idTipoBien = '+CONVERT(NVARCHAR(50),ISNULL(@idTipoBien,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'CAT_TIPOSBIENES',
        @idTipoBien,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
