USE [bdInventario]
GO
/****** Object:  StoredProcedure [dbo].[PA_UPD_CAT_CAUSALBAJAS]    Script Date: 09/06/2025 09:21:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**********************************************************************************
	Elaboró: PODER JUDICIAL DEL ESTADO DE OAXACA - DEPARTAMENTO DE BASE DE DATOS
	Fecha de Creación: 23/04/2025
	Descripción: PROCEDIMIENTO ALMACENADO PARA MODIFICAR UNA CAUSAL DE BAJA
	Desarrolló: JAIRO MARTINEZ LOPEZ
--  PA_UPD_CAT_CAUSALBAJAS
**********************************************************************************/
ALTER PROCEDURE [dbo].[PA_UPD_CAT_CAUSALBAJAS] (
    @idCausalBaja INT,
	@IdPantalla INT,
    @IdGeneral INT,
	@Clave VARCHAR(10)=NULL,
    @Nombre NVARCHAR(200),
    @Descripcion VARCHAR(255)=NULL,
    @Activo BIT=NULL,
    @Bloqueado BIT=NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el ID de la causal de baja existe
    IF NOT EXISTS (SELECT 1 FROM dbo.CAT_CAUSALBAJAS WHERE idCausalBaja = @idCausalBaja)
    BEGIN
        RAISERROR('El ID de la causal de baja especificado no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el nuevo nombre de la causal de baja ya existe para otra causal de baja
    IF EXISTS (SELECT 1 FROM dbo.CAT_CAUSALBAJAS WHERE Nombre = @Nombre AND idCausalBaja <> @idCausalBaja)
    BEGIN
        RAISERROR('El nombre de la causal de baja ya existe para otra causal de baja.', 16, 1);
        RETURN;
    END

    -- Actualizar la causal de baja
    UPDATE dbo.CAT_CAUSALBAJAS
    SET
        Nombre = @Nombre,
        Activo = ISNULL(@Activo, Activo),
        Descripcion = @Descripcion,
        Clave = @Clave,
        Bloqueado = ISNULL(@Bloqueado, Bloqueado)
    WHERE
        idCausalBaja = @idCausalBaja;

    -- Registrar en la bitácora
    DECLARE @Consulta NVARCHAR(MAX);
    SET @Consulta = 'UPDATE dbo.CAT_CAUSALBAJAS SET Nombre = ''' + REPLACE(@Nombre, '''', '''''') + ''', Activo = ''' + ISNULL(CONVERT(VARCHAR(1), @Activo), 'Activo') + ''', Descripcion = ''' + ISNULL(REPLACE(@Descripcion, '''', ''''''), 'NULL') + ''', Clave = ''' + ISNULL(@Clave, 'NULL') + ''', Bloqueado = ''' + ISNULL(CONVERT(VARCHAR(1), @Bloqueado), 'Bloqueado') + ''' WHERE idCausalBaja = '+CONVERT(NVARCHAR(50),ISNULL(@idCausalBaja,0));

    EXEC dbo.PA_ADM_INS_BITACORA
        'U',
        'CAT_CAUSALBAJAS',
        @idCausalBaja,
        @IdGeneral,
        @IdPantalla,
        @Consulta;

    RETURN 0;
END
